interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/calendar/v3/users/me/calendarList?alt=json
  response:
    body:
      string: "{\n \"kind\": \"calendar#calendarList\",\n \"etag\": \"\\\"p32vqjoviu29os0o\\\"\",\n
        \"nextSyncToken\": \"CL-p4_Lwk44DEiN3aWxsaWFtamFtZXNoYW5kbGV5LmFyeGl2QGdtYWlsLmNvbQ==\",\n
        \"items\": [\n  {\n   \"kind\": \"calendar#calendarListEntry\",\n   \"etag\":
        \"\\\"1482883012196000\\\"\",\n   \"id\": \"williamjameshandley.arxiv@gmail.com\",\n
        \  \"summary\": \"williamjameshandley.arxiv@gmail.com\",\n   \"timeZone\":
        \"Europe/London\",\n   \"colorId\": \"14\",\n   \"backgroundColor\": \"#9fe1e7\",\n
        \  \"foregroundColor\": \"#000000\",\n   \"selected\": true,\n   \"accessRole\":
        \"owner\",\n   \"defaultReminders\": [\n    {\n     \"method\": \"popup\",\n
        \    \"minutes\": 30\n    }\n   ],\n   \"notificationSettings\": {\n    \"notifications\":
        [\n     {\n      \"type\": \"eventCreation\",\n      \"method\": \"email\"\n
        \    },\n     {\n      \"type\": \"eventChange\",\n      \"method\": \"email\"\n
        \    },\n     {\n      \"type\": \"eventCancellation\",\n      \"method\":
        \"email\"\n     },\n     {\n      \"type\": \"eventResponse\",\n      \"method\":
        \"email\"\n     }\n    ]\n   },\n   \"primary\": true,\n   \"conferenceProperties\":
        {\n    \"allowedConferenceSolutionTypes\": [\n     \"hangoutsMeet\"\n    ]\n
        \  }\n  },\n  {\n   \"kind\": \"calendar#calendarListEntry\",\n   \"etag\":
        \"\\\"1617278361036000\\\"\",\n   \"id\": \"en.uk#holiday@group.v.calendar.google.com\",\n
        \  \"summary\": \"Holidays in United Kingdom\",\n   \"description\": \"Holidays
        and Observances in United Kingdom\",\n   \"timeZone\": \"Europe/London\",\n
        \  \"colorId\": \"8\",\n   \"backgroundColor\": \"#16a765\",\n   \"foregroundColor\":
        \"#000000\",\n   \"selected\": true,\n   \"accessRole\": \"reader\",\n   \"defaultReminders\":
        [],\n   \"conferenceProperties\": {\n    \"allowedConferenceSolutionTypes\":
        [\n     \"hangoutsMeet\"\n    ]\n   }\n  },\n  {\n   \"kind\": \"calendar#calendarListEntry\",\n
        \  \"etag[...]
