interactions:
- request:
    body: '{"summary": "VCR Test Event", "description": "Test event for VCR testing",
      "start": {"dateTime": "2025-07-03T14:00:00Z", "timeZone": "UTC"}, "end": {"dateTime":
      "2025-07-03T15:00:00Z", "timeZone": "UTC"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events?alt=json
  response:
    body:
      string: "{\n \"kind\": \"calendar#event\",\n \"etag\": \"\\\"3502899423377502\\\"\",\n
        \"id\": \"lfb2mnh4eu847osq6or1hum9vc\",\n \"status\": \"confirmed\",\n \"htmlLink\":
        \"https://www.google.com/calendar/event?eid=bGZiMm1uaDRldTg0N29zcTZvcjFodW05dmMgd2lsbGlhbWphbWVzaGFuZGxleS5hcnhpdkBt\",\n
        \"created\": \"2025-07-02T09:48:31.000Z\",\n \"updated\": \"2025-07-02T09:48:31.688Z\",\n
        \"summary\": \"VCR Test Event\",\n \"description\": \"Test event for VCR testing\",\n
        \"creator\": {\n  \"email\": \"williamjameshandley.arxiv@gmail.com\",\n  \"self\":
        true\n },\n \"organizer\": {\n  \"email\": \"williamjameshandley.arxiv@gmail.com\",\n
        \ \"self\": true\n },\n \"start\": {\n  \"dateTime\": \"2025-07-03T15:00:00+01:00\",\n
        \ \"timeZone\": \"UTC\"\n },\n \"end\": {\n  \"dateTime\": \"2025-07-03T16:00:00+01:00\",\n
        \ \"timeZone\": \"UTC\"\n },\n \"iCalUID\": \"lfb2mnh4eu847osq6or1hum9vc@google.com\",\n
        \"sequence\": 0,\n \"reminders\": {\n  \"useDefault\": true\n },\n \"eventType\":
        \"default\"\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - '"3502899423377502"'
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events/lfb2mnh4eu847osq6or1hum9vc?alt=json
  response:
    body:
      string: "{\n \"kind\": \"calendar#event\",\n \"etag\": \"\\\"3502899423377502\\\"\",\n
        \"id\": \"lfb2mnh4eu847osq6or1hum9vc\",\n \"status\": \"confirmed\",\n \"htmlLink\":
        \"https://www.google.com/calendar/event?eid=bGZiMm1uaDRldTg0N29zcTZvcjFodW05dmMgd2lsbGlhbWphbWVzaGFuZGxleS5hcnhpdkBt\",\n
        \"created\": \"2025-07-02T09:48:31.000Z\",\n \"updated\": \"2025-07-02T09:48:31.688Z\",\n
        \"summary\": \"VCR Test Event\",\n \"description\": \"Test event for VCR testing\",\n
        \"creator\": {\n  \"email\": \"williamjameshandley.arxiv@gmail.com\",\n  \"self\":
        true\n },\n \"organizer\": {\n  \"email\": \"williamjameshandley.arxiv@gmail.com\",\n
        \ \"self\": true\n },\n \"start\": {\n  \"dateTime\": \"2025-07-03T15:00:00+01:00\",\n
        \ \"timeZone\": \"UTC\"\n },\n \"end\": {\n  \"dateTime\": \"2025-07-03T16:00:00+01:00\",\n
        \ \"timeZone\": \"UTC\"\n },\n \"iCalUID\": \"lfb2mnh4eu847osq6or1hum9vc@google.com\",\n
        \"sequence\": 0,\n \"reminders\": {\n  \"useDefault\": true\n },\n \"eventType\":
        \"default\"\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - '"3502899423377502"'
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events/lfb2mnh4eu847osq6or1hum9vc
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 204
      message: No Content
version: 1
