interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/calendar/v3/users/me/calendarList?alt=json
  response:
    body:
      string: "{\n  \"error\": {\n    \"code\": 401,\n    \"message\": \"Request had
        invalid authentication credentials. Expected OAuth 2 access token, login cookie
        or other valid authentication credential. See https://developers.google.com/identity/sign-in/web/devconsole-project.\",\n
        \   \"errors\": [\n      {\n        \"message\": \"Invalid Credentials\",\n
        \       \"domain\": \"global\",\n        \"reason\": \"authError\",\n        \"location\":
        \"Authorization\",\n        \"locationType\": \"header\"\n      }\n    ],\n
        \   \"status\": \"UNAUTHENTICATED\"\n  }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      WWW-Authenticate:
      - Bearer realm="https://accounts.google.com/", error="invalid_token"
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 401
      message: Unauthorized
- request:
    body: grant_type=refresh_token&client_id=378887917503-cmthhlg1nnnr6hqvum1sgaggmqqbnse7.apps.googleusercontent.com&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fcalendar
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://oauth2.googleapis.com/token
  response:
    body:
      string: "{\n  \"access_token\": \"ya29.A0AS3H6NwMoOLr2kG82SEk6vPwE22T6UGbIB-Wuao_2MjM7LenqvIE42zxQ4KsAyY9w5AqqmdmHX6cogk37OhFwFZ_OIrgFWKY2mb-47D1M4rNTTlmpn6NcufYx3RM0KyQl6FZ-ANqF7cQYJVi7zHJd1se8WioWGXVCrA7tqXfX0K_FXb7dpVM2haUaoE1ds7m2qppLv9baAaCgYKAT8SARcSFQHGX2MiW4H9kpwTs9BZy02fdXYHCA0209\",\n
        \ \"expires_in\": 3599,\n  \"scope\": \"https://www.googleapis.com/auth/calendar\",\n
        \ \"token_type\": \"Bearer\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/calendar/v3/users/me/calendarList?alt=json
  response:
    body:
      string: "{\n \"kind\": \"calendar#calendarList\",\n \"etag\": \"\\\"p32fu7cslhnhos0o\\\"\",\n
        \"nextSyncToken\": \"CJ_js5WN444DEiN3aWxsaWFtamFtZXNoYW5kbGV5LmFyeGl2QGdtYWlsLmNvbQ==\",\n
        \"items\": [\n  {\n   \"kind\": \"calendar#calendarListEntry\",\n   \"etag\":
        \"\\\"1617278361036000\\\"\",\n   \"id\": \"en.uk#holiday@group.v.calendar.google.com\",\n
        \  \"summary\": \"Holidays in United Kingdom\",\n   \"description\": \"Holidays
        and Observances in United Kingdom\",\n   \"timeZone\": \"Europe/London\",\n
        \  \"colorId\": \"8\",\n   \"backgroundColor\": \"#16a765\",\n   \"foregroundColor\":
        \"#000000\",\n   \"selected\": true,\n   \"accessRole\": \"reader\",\n   \"defaultReminders\":
        [],\n   \"conferenceProperties\": {\n    \"allowedConferenceSolutionTypes\":
        [\n     \"hangoutsMeet\"\n    ]\n   }\n  },\n  {\n   \"kind\": \"calendar#calendarListEntry\",\n
        \  \"etag\": \"\\\"1750411070758479\\\"\",\n   \"id\": \"48799f0fc362053eeb75ab613f81422594eee6c1b0fc74ef2f42fb025a4dbcb4@group.calendar.google.com\",\n
        \  \"summary\": \"Test Work Calendar\",\n   \"description\": \"Test calendar
        for work events\",\n   \"timeZone\": \"UTC\",\n   \"colorId\": \"5\",\n   \"backgroundColor\":
        \"#ff7537\",\n   \"foregroundColor\":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/calendar/v3/calendars/48799f0fc362053eeb75ab613f81422594eee6c1b0fc74ef2f42fb025a4dbcb4%40group.calendar.google.com?alt=json
  response:
    body:
      string: "{\n  \"error\": {\n    \"code\": 401,\n    \"message\": \"Request had
        invalid authentication credentials. Expected OAuth 2 access token, login cookie
        or other valid authentication credential. See https://developers.google.com/identity/sign-in/web/devconsole-project.\",\n
        \   \"errors\": [\n      {\n        \"message\": \"Invalid Credentials\",\n
        \       \"domain\": \"global\",\n        \"reason\": \"authError\",\n        \"location\":
        \"Authorization\",\n        \"locationType\": \"header\"\n      }\n    ],\n
        \   \"status\": \"UNAUTHENTICATED\"\n  }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      WWW-Authenticate:
      - Bearer realm="https://accounts.google.com/", error="invalid_token"
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 401
      message: Unauthorized
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/calendar/v3/calendars/48799f0fc362053eeb75ab613f81422594eee6c1b0fc74ef2f42fb025a4dbcb4%40group.calendar.google.com?alt=json
  response:
    body:
      string: "{\n \"kind\": \"calendar#calendar\",\n \"etag\": \"\\\"eATD6hKLCEAIsBDoaBOUtT7lADE\\\"\",\n
        \"id\": \"48799f0fc362053eeb75ab613f81422594eee6c1b0fc74ef2f42fb025a4dbcb4@group.calendar.google.com\",\n
        \"summary\": \"Test Work Calendar\",\n \"description\": \"Test calendar for
        work events\",\n \"timeZone\": \"UTC\",\n \"conferenceProperties\": {\n  \"allowedConferenceSolutionTypes\":
        [\n   \"hangoutsMeet\"\n  ]\n }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - '"eATD6hKLCEAIsBDoaBOUtT7lADE"'
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 200
      message: OK
- request:
    body: '{"summary": "Event to Move", "description": "This event will be moved between
      calendars", "location": "", "start": {"dateTime": "2025-07-30T10:00:00+00:00",
      "timeZone": "UTC"}, "end": {"dateTime": "2025-07-30T11:00:00+00:00", "timeZone":
      "UTC"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://www.googleapis.com/calendar/v3/calendars/48799f0fc362053eeb75ab613f81422594eee6c1b0fc74ef2f42fb025a4dbcb4%40group.calendar.google.com/events?alt=json
  response:
    body:
      string: "{\n \"kind\": \"calendar#event\",\n \"etag\": \"\\\"3507655706393118\\\"\",\n
        \"id\": \"rsj7mpco16ekrrmvkuobvi8d9s\",\n \"status\": \"confirmed\",\n \"htmlLink\":
        \"https://www.google.com/calendar/event?eid=cnNqN21wY28xNmVrcnJtdmt1b2J2aThkOXMgNDg3OTlmMGZjMzYyMDUzZWViNzVhYjYxM2Y4MTQyMjU5NGVlZTZjMWIwZmM3NGVmMmY0MmZiMDI1YTRkYmNiNEBn\",\n
        \"created\": \"2025-07-29T22:24:13.000Z\",\n \"updated\": \"2025-07-29T22:24:13.196Z\",\n
        \"summary\": \"Event to Move\",\n \"description\": \"This event will be moved
        between calendars\",\n \"creator\": {\n  \"email\": \"williamjameshandley.arxiv@gmail.com\"\n
        },\n \"organizer\": {\n  \"email\": \"48799f0fc362053eeb75ab613f81422594eee6c1b0fc74ef2f42fb025a4dbcb4@group.calendar.google.com\",\n
        \ \"displayName\": \"Test Work Calendar\",\n  \"self\": true\n },\n \"start\":
        {\n  \"dateTime\": \"2025-07-30T10:00:00Z\",\n  \"timeZone\": \"UTC\"\n },\n
        \"end\": {\n  \"dateTime\": \"2025-07-30T11:00:00Z\",\n  \"timeZone\": \"UTC\"\n
        },\n \"iCalUID\": \"rsj7mpco16ekrrmvkuobvi8d9s@google.com\",\n \"sequence\":
        0,\n \"reminders\": {\n  \"useDefault\": true\n },\n \"eventType\": \"default\"\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - '"3507655706393118"'
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://www.googleapis.com/calendar/v3/calendars/48799f0fc362053eeb75ab613f81422594eee6c1b0fc74ef2f42fb025a4dbcb4%40group.calendar.google.com/events/rsj7mpco16ekrrmvkuobvi8d9s/move?alt=json&destination=a6acf9c6db52b0d7b636d364f6d9d808f672af4aeacc70a0967e6571976f3adc%40group.calendar.google.com
  response:
    body:
      string: "{\n  \"error\": {\n    \"code\": 401,\n    \"message\": \"Request had
        invalid authentication credentials. Expected OAuth 2 access token, login cookie
        or other valid authentication credential. See https://developers.google.com/identity/sign-in/web/devconsole-project.\",\n
        \   \"errors\": [\n      {\n        \"message\": \"Invalid Credentials\",\n
        \       \"domain\": \"global\",\n        \"reason\": \"authError\",\n        \"location\":
        \"Authorization\",\n        \"locationType\": \"header\"\n      }\n    ],\n
        \   \"status\": \"UNAUTHENTICATED\"\n  }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      WWW-Authenticate:
      - Bearer realm="https://accounts.google.com/", error="invalid_token"
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 401
      message: Unauthorized
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://www.googleapis.com/calendar/v3/calendars/48799f0fc362053eeb75ab613f81422594eee6c1b0fc74ef2f42fb025a4dbcb4%40group.calendar.google.com/events/rsj7mpco16ekrrmvkuobvi8d9s
  response:
    body:
      string: "{\n  \"error\": {\n    \"code\": 401,\n    \"message\": \"Request had
        invalid authentication credentials. Expected OAuth 2 access token, login cookie
        or other valid authentication credential. See https://developers.google.com/identity/sign-in/web/devconsole-project.\",\n
        \   \"errors\": [\n      {\n        \"message\": \"Invalid Credentials\",\n
        \       \"domain\": \"global\",\n        \"reason\": \"authError\",\n        \"location\":
        \"Authorization\",\n        \"locationType\": \"header\"\n      }\n    ],\n
        \   \"status\": \"UNAUTHENTICATED\"\n  }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      WWW-Authenticate:
      - Bearer realm="https://accounts.google.com/", error="invalid_token"
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 401
      message: Unauthorized
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/calendar/v3/calendars/48799f0fc362053eeb75ab613f81422594eee6c1b0fc74ef2f42fb025a4dbcb4%40group.calendar.google.com/events/rsj7mpco16ekrrmvkuobvi8d9s?alt=json
  response:
    body:
      string: "{\n  \"error\": {\n    \"code\": 401,\n    \"message\": \"Request had
        invalid authentication credentials. Expected OAuth 2 access token, login cookie
        or other valid authentication credential. See https://developers.google.com/identity/sign-in/web/devconsole-project.\",\n
        \   \"errors\": [\n      {\n        \"message\": \"Invalid Credentials\",\n
        \       \"domain\": \"global\",\n        \"reason\": \"authError\",\n        \"location\":
        \"Authorization\",\n        \"locationType\": \"header\"\n      }\n    ],\n
        \   \"status\": \"UNAUTHENTICATED\"\n  }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      WWW-Authenticate:
      - Bearer realm="https://accounts.google.com/", error="invalid_token"
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 401
      message: Unauthorized
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/calendar/v3/calendars/48799f0fc362053eeb75ab613f81422594eee6c1b0fc74ef2f42fb025a4dbcb4%40group.calendar.google.com/events/rsj7mpco16ekrrmvkuobvi8d9s?alt=json
  response:
    body:
      string: "{\n \"kind\": \"calendar#event\",\n \"etag\": \"\\\"3507655707708638\\\"\",\n
        \"id\": \"rsj7mpco16ekrrmvkuobvi8d9s\",\n \"status\": \"cancelled\",\n \"htmlLink\":
        \"https://www.google.com/calendar/event?eid=cnNqN21wY28xNmVrcnJtdmt1b2J2aThkOXMgNDg3OTlmMGZjMzYyMDUzZWViNzVhYjYxM2Y4MTQyMjU5NGVlZTZjMWIwZmM3NGVmMmY0MmZiMDI1YTRkYmNiNEBn\",\n
        \"updated\": \"2025-07-29T22:24:13.854Z\",\n \"start\": {\n  \"dateTime\":
        \"2000-01-01T00:00:00Z\",\n  \"timeZone\": \"UTC\"\n },\n \"end\": {\n  \"dateTime\":
        \"2000-01-02T00:00:00Z\",\n  \"timeZone\": \"UTC\"\n },\n \"transparency\":
        \"transparent\",\n \"iCalUID\": \"rsj7mpco16ekrrmvkuobvi8d9s@google.com\"\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - '"3507655707708638"'
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 200
      message: OK
- request:
    body: grant_type=refresh_token&client_id=378887917503-cmthhlg1nnnr6hqvum1sgaggmqqbnse7.apps.googleusercontent.com&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fcalendar
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://oauth2.googleapis.com/token
  response:
    body:
      string: "{\n  \"access_token\": \"ya29.A0AS3H6Ny2Qrfx-f63y-gs8KMlyxcXlUMgsIl-dSfQ373aZuwQgGBtkHKIgq6SR8PS7DtDnuJEIBhevBAXU7yujbM8R21F8giJu0Vh5yN4U5hod9x3blYG6wEx9iJMGCjtS3SWlYg-IPDVROqZC-5oNnPPdVhUEOj6RGOMZIoI8Rz2X9OK94XUYkjY4SQgXPfPGQ73l_DTMAaCgYKAUUSARcSFQHGX2MifoprLGQVbYOmfawMN_uQdg0209\",\n
        \ \"expires_in\": 3599,\n  \"scope\": \"https://www.googleapis.com/auth/calendar\",\n
        \ \"token_type\": \"Bearer\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
