interactions:
- request:
    body: '{"summary": "VCR Test Event", "description": "Test event for VCR testing",
      "start": {"dateTime": "2025-07-07T14:00:00Z", "timeZone": "UTC"}, "end": {"dateTime":
      "2025-07-07T15:00:00Z", "timeZone": "UTC"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events?alt=json
  response:
    body:
      string: "{\n  \"error\": {\n    \"code\": 401,\n    \"message\": \"Request had
        invalid authentication credentials. Expected OAuth 2 access token, login cookie
        or other valid authentication credential. See https://developers.google.com/identity/sign-in/web/devconsole-project.\",\n
        \   \"errors\": [\n      {\n        \"message\": \"Invalid Credentials\",\n
        \       \"domain\": \"global\",\n        \"reason\": \"authError\",\n        \"location\":
        \"Authorization\",\n        \"locationType\": \"header\"\n      }\n    ],\n
        \   \"status\": \"UNAUTHENTICATED\"\n  }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      WWW-Authenticate:
      - Bearer realm="https://accounts.google.com/", error="invalid_token"
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 401
      message: Unauthorized
- request:
    body: grant_type=refresh_token&client_id=378887917503-cmthhlg1nnnr6hqvum1sgaggmqqbnse7.apps.googleusercontent.com&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fcalendar
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://oauth2.googleapis.com/token
  response:
    body:
      string: "{\n  \"access_token\": \"ya29.a0AS3H6Nxyk8S47WAzrPWtYaxKtt7uKVEMEQsSIJD83wnnnV5EEFaZ749QkBGvoRpWh4PTko8e6Ne7FbnMc3r3tLxukK27egr1gx97LVLYdsopL90Ndwk0JBBq3EdKYKiBKDTIoCEpgACKSENfFpwA1MNmk6c_UP-hQ1SpL-KJ4QaCgYKAfUSARcSFQHGX2Mim409zN9uSvlRcYiTywFoIA0177\",\n
        \ \"expires_in\": 3599,\n  \"scope\": \"https://www.googleapis.com/auth/calendar\",\n
        \ \"token_type\": \"Bearer\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"summary": "VCR Test Event", "description": "Test event for VCR testing",
      "start": {"dateTime": "2025-07-07T14:00:00Z", "timeZone": "UTC"}, "end": {"dateTime":
      "2025-07-07T15:00:00Z", "timeZone": "UTC"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events?alt=json
  response:
    body:
      string: "{\n \"kind\": \"calendar#event\",\n \"etag\": \"\\\"3503664471100094\\\"\",\n
        \"id\": \"5d2mqsdmfu7gem9kg76o8le2m0\",\n \"status\": \"confirmed\",\n \"htmlLink\":
        \"https://www.google.com/calendar/event?eid=NWQybXFzZG1mdTdnZW05a2c3Nm84bGUybTAgd2lsbGlhbWphbWVzaGFuZGxleS5hcnhpdkBt\",\n
        \"created\": \"2025-07-06T20:03:55.000Z\",\n \"updated\": \"2025-07-06T20:03:55.550Z\",\n
        \"summary\": \"VCR Test Event\",\n \"description\": \"Test event for VCR testing\",\n
        \"creator\": {\n  \"email\": \"williamjameshandley.arxiv@gmail.com\",\n  \"self\":
        true\n },\n \"organizer\": {\n  \"email\": \"williamjameshandley.arxiv@gmail.com\",\n
        \ \"self\": true\n },\n \"start\": {\n  \"dateTime\": \"2025-07-07T15:00:00+01:00\",\n
        \ \"timeZone\": \"UTC\"\n },\n \"end\": {\n  \"dateTime\": \"2025-07-07T16:00:00+01:00\",\n
        \ \"timeZone\": \"UTC\"\n },\n \"iCalUID\": \"5d2mqsdmfu7gem9kg76o8le2m0@google.com\",\n
        \"sequence\": 0,\n \"reminders\": {\n  \"useDefault\": true\n },\n \"eventType\":
        \"default\"\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - '"3503664471100094"'
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events/5d2mqsdmfu7gem9kg76o8le2m0?alt=json
  response:
    body:
      string: "{\n  \"error\": {\n    \"code\": 401,\n    \"message\": \"Request had
        invalid authentication credentials. Expected OAuth 2 access token, login cookie
        or other valid authentication credential. See https://developers.google.com/identity/sign-in/web/devconsole-project.\",\n
        \   \"errors\": [\n      {\n        \"message\": \"Invalid Credentials\",\n
        \       \"domain\": \"global\",\n        \"reason\": \"authError\",\n        \"location\":
        \"Authorization\",\n        \"locationType\": \"header\"\n      }\n    ],\n
        \   \"status\": \"UNAUTHENTICATED\"\n  }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      WWW-Authenticate:
      - Bearer realm="https://accounts.google.com/", error="invalid_token"
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 401
      message: Unauthorized
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events/5d2mqsdmfu7gem9kg76o8le2m0
  response:
    body:
      string: "{\n  \"error\": {\n    \"code\": 401,\n    \"message\": \"Request had
        invalid authentication credentials. Expected OAuth 2 access token, login cookie
        or other valid authentication credential. See https://developers.google.com/identity/sign-in/web/devconsole-project.\",\n
        \   \"errors\": [\n      {\n        \"message\": \"Invalid Credentials\",\n
        \       \"domain\": \"global\",\n        \"reason\": \"authError\",\n        \"location\":
        \"Authorization\",\n        \"locationType\": \"header\"\n      }\n    ],\n
        \   \"status\": \"UNAUTHENTICATED\"\n  }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      WWW-Authenticate:
      - Bearer realm="https://accounts.google.com/", error="invalid_token"
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 401
      message: Unauthorized
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/calendar/v3/users/me/calendarList/primary?alt=json
  response:
    body:
      string: "{\n  \"error\": {\n    \"code\": 401,\n    \"message\": \"Request had
        invalid authentication credentials. Expected OAuth 2 access token, login cookie
        or other valid authentication credential. See https://developers.google.com/identity/sign-in/web/devconsole-project.\",\n
        \   \"errors\": [\n      {\n        \"message\": \"Invalid Credentials\",\n
        \       \"domain\": \"global\",\n        \"reason\": \"authError\",\n        \"location\":
        \"Authorization\",\n        \"locationType\": \"header\"\n      }\n    ],\n
        \   \"status\": \"UNAUTHENTICATED\"\n  }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      WWW-Authenticate:
      - Bearer realm="https://accounts.google.com/", error="invalid_token"
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 401
      message: Unauthorized
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/calendar/v3/users/me/calendarList/primary?alt=json
  response:
    body:
      string: "{\n \"kind\": \"calendar#calendarListEntry\",\n \"etag\": \"\\\"1752299187071295\\\"\",\n
        \"id\": \"williamjameshandley.arxiv@gmail.com\",\n \"summary\": \"williamjameshandley.arxiv@gmail.com\",\n
        \"timeZone\": \"Europe/London\",\n \"colorId\": \"14\",\n \"backgroundColor\":
        \"#9fe1e7\",\n \"foregroundColor\": \"#000000\",\n \"selected\": true,\n \"accessRole\":
        \"owner\",\n \"defaultReminders\": [\n  {\n   \"method\": \"popup\",\n   \"minutes\":
        30\n  }\n ],\n \"notificationSettings\": {\n  \"notifications\": [\n   {\n
        \   \"type\": \"eventCreation\",\n    \"method\": \"email\"\n   },\n   {\n
        \   \"type\": \"eventChange\",\n    \"method\": \"email\"\n   },\n   {\n    \"type\":
        \"eventCancellation\",\n    \"method\": \"email\"\n   },\n   {\n    \"type\":
        \"eventResponse\",\n    \"method\": \"email\"\n   }\n  ]\n },\n \"primary\":
        true,\n \"conferenceProperties\": {\n  \"allowedConferenceSolutionTypes\":
        [\n   \"hangoutsMeet\"\n  ]\n }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - '"1752299187071295"'
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 200
      message: OK
- request:
    body: grant_type=refresh_token&client_id=378887917503-cmthhlg1nnnr6hqvum1sgaggmqqbnse7.apps.googleusercontent.com&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fcalendar
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://oauth2.googleapis.com/token
  response:
    body:
      string: "{\n  \"access_token\": \"ya29.a0AS3H6NzH3y5-X7cUjx4HMbZGDTT5XRDwzk3xfY7LKMYmkAH7hPr98Klm44J3_Ydjh-47lsRte35QbFDcrdXFatC6LXc7KLBAcyCyleghB3DkiMafwszl0OIqrbyKad0S4Sryp1apvxGco1ZcxRXzNCodT_uDiFVJI0bYdx789gaCgYKAfASARYSFQHGX2MitmcQzAVHLahiPUA5Uit_Ag0177\",\n
        \ \"expires_in\": 3599,\n  \"scope\": \"https://www.googleapis.com/auth/calendar\",\n
        \ \"token_type\": \"Bearer\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
