interactions:
- request:
    body: '{"timeMin": "2025-07-02T10:48:32.914161Z", "timeMax": "2025-07-09T10:48:32.914161Z",
      "items": [{"id": "primary"}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://www.googleapis.com/calendar/v3/freeBusy?alt=json
  response:
    body:
      string: "{\n \"kind\": \"calendar#freeBusy\",\n \"timeMin\": \"2025-07-02T10:48:32.914Z\",\n
        \"timeMax\": \"2025-07-09T10:48:32.914Z\",\n \"calendars\": {\n  \"primary\":
        {\n   \"busy\": []\n  }\n }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 200
      message: OK
version: 1
