interactions:
- request:
    body: '{"timeMin": "2025-06-21T00:00:00Z", "timeMax": "2025-06-21T00:00:00Z",
      "items": [{"id": "primary"}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://www.googleapis.com/calendar/v3/freeBusy?alt=json
  response:
    body:
      string: "{\n  \"error\": {\n    \"code\": 401,\n    \"message\": \"Request had
        invalid authentication credentials. Expected OAuth 2 access token, login cookie
        or other valid authentication credential. See https://developers.google.com/identity/sign-in/web/devconsole-project.\",\n
        \   \"errors\": [\n      {\n        \"message\": \"Invalid Credentials\",\n
        \       \"domain\": \"global\",\n        \"reason\": \"authError\",\n        \"location\":
        \"Authorization\",\n        \"locationType\": \"header\"\n      }\n    ],\n
        \   \"status\": \"UNAUTHENTICATED\"\n  }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      WWW-Authenticate:
      - Bearer realm="https://accounts.google.com/", error="invalid_token"
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 401
      message: Unauthorized
- request:
    body: grant_type=refresh_token&client_id=378887917503-cmthhlg1nnnr6hqvum1sgaggmqqbnse7.apps.googleusercontent.com&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fcalendar
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://oauth2.googleapis.com/token
  response:
    body:
      string: "{\n  \"access_token\": \"ya29.A0AS3H6NynG2xzB7h44eTrs4_Dq7tXnDiHUw274JISrM8LSosd_dXQKP5mpXHRTk8FgmE08_L2g0eT8BEsJmLe593VL7_7Mwfnz73kr3u6yufDMZxbVEA0HRfAiMeg-v35RmLP517MJXs6GS8EHRJw1esIMozhXSNgm80FQuz3kZ8RS6naBIWc0VHKXB8F3El-2iuo1-s40gaCgYKAbgSARESFQHGX2Minfjf4yoLAALuKf1YYf4Zug0209\",\n
        \ \"expires_in\": 3599,\n  \"scope\": \"https://www.googleapis.com/auth/calendar\",\n
        \ \"token_type\": \"Bearer\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"timeMin": "2025-06-21T00:00:00Z", "timeMax": "2025-06-21T00:00:00Z",
      "items": [{"id": "primary"}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://www.googleapis.com/calendar/v3/freeBusy?alt=json
  response:
    body:
      string: "{\n \"error\": {\n  \"errors\": [\n   {\n    \"domain\": \"calendar\",\n
        \   \"reason\": \"timeRangeEmpty\",\n    \"message\": \"The specified time
        range is empty.\",\n    \"locationType\": \"parameter\",\n    \"location\":
        \"timeMax\"\n   }\n  ],\n  \"code\": 400,\n  \"message\": \"The specified
        time range is empty.\"\n }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 400
      message: Bad Request
version: 1
