interactions:
- request:
    body: grant_type=refresh_token&client_id=378887917503-cmthhlg1nnnr6hqvum1sgaggmqqbnse7.apps.googleusercontent.com&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fcalendar
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://oauth2.googleapis.com/token
  response:
    body:
      string: "{\n  \"access_token\": \"ya29.a0AS3H6NzFLPykwfdrXsV2AILoFkGJBt8llG7Fs-LXBCXCRbgIF5kZ0OMf53xD1ayluOiDjIdr4IyxvtWRP1aHPRfPIuXmtp-x37qt84u1-BhqwfITtRrDVGwnBJN1jwtW7r7dcmy_1U_9EQ5I8gogZ4op41QLloRlmzlrV-xwQwaCgYKAZ4SARcSFQHGX2MiyEiHmwOkKBplhXfbPob20Q0177\",\n
        \ \"expires_in\": 3599,\n  \"scope\": \"https://www.googleapis.com/auth/calendar\",\n
        \ \"token_type\": \"Bearer\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/calendar/v3/users/me/calendarList?alt=json&maxResults=1
  response:
    body:
      string: "{\n \"kind\": \"calendar#calendarList\",\n \"etag\": \"\\\"p32vqjoviu29os0o\\\"\",\n
        \"nextPageToken\": \"EiEKCwjE_4vDBRCA8rpdEhJnOjAwMDAwMGEyMjM1YWI4MTEaHxIJBwY4plst0v8AqsmIjAQOEgwI84D_wgYQmJjZtwM=\",\n
        \"items\": [\n  {\n   \"kind\": \"calendar#calendarListEntry\",\n   \"etag\":
        \"\\\"1482883012196000\\\"\",\n   \"id\": \"williamjameshandley.arxiv@gmail.com\",\n
        \  \"summary\": \"williamjameshandley.arxiv@gmail.com\",\n   \"timeZone\":
        \"Europe/London\",\n   \"colorId\": \"14\",\n   \"backgroundColor\": \"#9fe1e7\",\n
        \  \"foregroundColor\": \"#000000\",\n   \"selected\": true,\n   \"accessRole\":
        \"owner\",\n   \"defaultReminders\": [\n    {\n     \"method\": \"popup\",\n
        \    \"minutes\": 30\n    }\n   ],\n   \"notificationSettings\": {\n    \"notifications\":
        [\n     {\n      \"type\": \"eventCreation\",\n      \"method\": \"email\"\n
        \    },\n     {\n      \"type\": \"eventChange\",\n      \"method\": \"email\"\n
        \    },\n     {\n      \"type\": \"eventCancellation\",\n      \"method\":
        \"email\"\n     },\n     {\n      \"type\": \"eventResponse\",\n      \"method\":
        \"email\"\n     }\n    ]\n   },\n   \"primary\": true,\n   \"conferenceProperties\":
        {\n    \"allowedConferenceSolutionTypes\": [\n     \"hangoutsMeet\"\n    ]\n
        \  }\n  }\n ]\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 200
      message: OK
version: 1
