interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/calendar/v3/users/me/calendarList?alt=json
  response:
    body:
      string: "{\n  \"error\": {\n    \"code\": 401,\n    \"message\": \"Request had
        invalid authentication credentials. Expected OAuth 2 access token, login cookie
        or other valid authentication credential. See https://developers.google.com/identity/sign-in/web/devconsole-project.\",\n
        \   \"errors\": [\n      {\n        \"message\": \"Invalid Credentials\",\n
        \       \"domain\": \"global\",\n        \"reason\": \"authError\",\n        \"location\":
        \"Authorization\",\n        \"locationType\": \"header\"\n      }\n    ],\n
        \   \"status\": \"UNAUTHENTICATED\"\n  }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      WWW-Authenticate:
      - Bearer realm="https://accounts.google.com/", error="invalid_token"
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 401
      message: Unauthorized
- request:
    body: grant_type=refresh_token&client_id=378887917503-cmthhlg1nnnr6hqvum1sgaggmqqbnse7.apps.googleusercontent.com&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fcalendar
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://oauth2.googleapis.com/token
  response:
    body:
      string: "{\n  \"access_token\": \"REDACTED_OAUTH_TOKEN\",\n
        \ \"expires_in\": 3599,\n  \"scope\": \"https://www.googleapis.com/auth/calendar\",\n
        \ \"token_type\": \"Bearer\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/calendar/v3/users/me/calendarList?alt=json
  response:
    body:
      string: "{\n \"kind\": \"calendar#calendarList\",\n \"etag\": \"\\\"p32npled2p63ou0o\\\"\",\n
        \"nextSyncToken\": \"CK-auaLJh48DEiN3aWxsaWFtamFtZXNoYW5kbGV5LmFyeGl2QGdtYWlsLmNvbQ==\",\n
        \"items\": [\n  {\n   \"kind\": \"calendar#calendarListEntry\",\n   \"etag\":
        \"\\\"1617278361036000\\\"\",\n   \"id\": \"en.uk#holiday@group.v.calendar.google.com\",\n
        \  \"summary\": \"Holidays in United Kingdom\",\n   \"description\": \"Holidays
        and Observances in United Kingdom\",\n   \"timeZone\": \"Europe/London\",\n
        \  \"colorId\": \"8\",\n   \"backgroundColor\": \"#16a765\",\n   \"foregroundColor\":
        \"#000000\",\n   \"selected\": true,\n   \"accessRole\": \"reader\",\n   \"defaultReminders\":
        [],\n   \"conferenceProperties\": {\n    \"allowedConferenceSolutionTypes\":
        [\n     \"hangoutsMeet\"\n    ]\n   }\n  },\n  {\n   \"kind\": \"calendar#calendarListEntry\",\n
        \  \"etag\": \"\\\"1750411070758479\\\"\",\n   \"id\": \"48799f0fc362053eeb75ab613f81422594eee6c1b0fc74ef2f42fb025a4dbcb4@group.calendar.google.com\",\n
        \  \"summary\": \"Test Work Calendar\",\n   \"description\": \"Test calendar
        for work events\",\n   \"timeZone\": \"UTC\",\n   \"colorId\": \"5\",\n   \"backgroundColor\":
        \"#ff7537\",\n   \"foregroundColor\":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/calendar/v3/calendars/en.uk%23holiday%40group.v.calendar.google.com/events?alt=json&maxResults=100&orderBy=startTime&singleEvents=true&timeMax=2024-06-08T00%3A00%3A00Z&timeMin=2024-06-01T00%3A00%3A00Z
  response:
    body:
      string: "{\n \"kind\": \"calendar#events\",\n \"etag\": \"\\\"p33qfrtd3p63ou0o\\\"\",\n
        \"summary\": \"Holidays in United Kingdom\",\n \"description\": \"Holidays
        and Observances in United Kingdom\",\n \"updated\": \"2025-05-02T13:55:42.356Z\",\n
        \"timeZone\": \"Europe/London\",\n \"accessRole\": \"reader\",\n \"defaultReminders\":
        [],\n \"items\": []\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/calendar/v3/calendars/48799f0fc362053eeb75ab613f81422594eee6c1b0fc74ef2f42fb025a4dbcb4%40group.calendar.google.com/events?alt=json&maxResults=100&orderBy=startTime&singleEvents=true&timeMax=2024-06-08T00%3A00%3A00Z&timeMin=2024-06-01T00%3A00%3A00Z
  response:
    body:
      string: "{\n \"kind\": \"calendar#events\",\n \"etag\": \"\\\"p32fs5mvirfm8s0o\\\"\",\n
        \"summary\": \"Test Work Calendar\",\n \"description\": \"Test calendar for
        work events\",\n \"updated\": \"2025-08-02T18:07:11.364Z\",\n \"timeZone\":
        \"UTC\",\n \"accessRole\": \"owner\",\n \"defaultReminders\": [],\n \"items\":
        []\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/calendar/v3/calendars/williamjameshandley.arxiv%40gmail.com/events?alt=json&maxResults=100&orderBy=startTime&singleEvents=true&timeMax=2024-06-08T00%3A00%3A00Z&timeMin=2024-06-01T00%3A00%3A00Z
  response:
    body:
      string: "{\n \"kind\": \"calendar#events\",\n \"etag\": \"\\\"p32npled2p63ou0o\\\"\",\n
        \"summary\": \"williamjameshandley.arxiv@gmail.com\",\n \"description\": \"\",\n
        \"updated\": \"2025-08-13T10:25:44.127Z\",\n \"timeZone\": \"Europe/London\",\n
        \"accessRole\": \"owner\",\n \"defaultReminders\": [\n  {\n   \"method\":
        \"popup\",\n   \"minutes\": 30\n  }\n ],\n \"items\": []\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 200
      message: OK
version: 1
