interactions:
- request:
    body: '{"summary": "All Day Event", "description": "All day event test", "location":
      "", "start": {"date": "2025-07-16"}, "end": {"date": "2025-07-17"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events?alt=json
  response:
    body:
      string: "{\n \"kind\": \"calendar#event\",\n \"etag\": \"\\\"3505119488261982\\\"\",\n
        \"id\": \"u3coja13qd827pcjdogtg8n22g\",\n \"status\": \"confirmed\",\n \"htmlLink\":
        \"https://www.google.com/calendar/event?eid=dTNjb2phMTNxZDgyN3BjamRvZ3RnOG4yMmcgd2lsbGlhbWphbWVzaGFuZGxleS5hcnhpdkBt\",\n
        \"created\": \"2025-07-15T06:09:03.000Z\",\n \"updated\": \"2025-07-15T06:09:04.130Z\",\n
        \"summary\": \"All Day Event\",\n \"description\": \"All day event test\",\n
        \"creator\": {\n  \"email\": \"williamjameshandley.arxiv@gmail.com\",\n  \"self\":
        true\n },\n \"organizer\": {\n  \"email\": \"williamjameshandley.arxiv@gmail.com\",\n
        \ \"self\": true\n },\n \"start\": {\n  \"date\": \"2025-07-16\"\n },\n \"end\":
        {\n  \"date\": \"2025-07-17\"\n },\n \"iCalUID\": \"u3coja13qd827pcjdogtg8n22g@google.com\",\n
        \"sequence\": 0,\n \"reminders\": {\n  \"useDefault\": false,\n  \"overrides\":
        [\n   {\n    \"method\": \"popup\",\n    \"minutes\": 30\n   }\n  ]\n },\n
        \"eventType\": \"default\"\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - '"3505119488261982"'
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events/u3coja13qd827pcjdogtg8n22g?alt=json
  response:
    body:
      string: "{\n \"kind\": \"calendar#event\",\n \"etag\": \"\\\"3505119488261982\\\"\",\n
        \"id\": \"u3coja13qd827pcjdogtg8n22g\",\n \"status\": \"confirmed\",\n \"htmlLink\":
        \"https://www.google.com/calendar/event?eid=dTNjb2phMTNxZDgyN3BjamRvZ3RnOG4yMmcgd2lsbGlhbWphbWVzaGFuZGxleS5hcnhpdkBt\",\n
        \"created\": \"2025-07-15T06:09:03.000Z\",\n \"updated\": \"2025-07-15T06:09:04.130Z\",\n
        \"summary\": \"All Day Event\",\n \"description\": \"All day event test\",\n
        \"creator\": {\n  \"email\": \"williamjameshandley.arxiv@gmail.com\",\n  \"self\":
        true\n },\n \"organizer\": {\n  \"email\": \"williamjameshandley.arxiv@gmail.com\",\n
        \ \"self\": true\n },\n \"start\": {\n  \"date\": \"2025-07-16\"\n },\n \"end\":
        {\n  \"date\": \"2025-07-17\"\n },\n \"iCalUID\": \"u3coja13qd827pcjdogtg8n22g@google.com\",\n
        \"sequence\": 0,\n \"reminders\": {\n  \"useDefault\": false,\n  \"overrides\":
        [\n   {\n    \"method\": \"popup\",\n    \"minutes\": 30\n   }\n  ]\n },\n
        \"eventType\": \"default\"\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - '"3505119488261982"'
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events/u3coja13qd827pcjdogtg8n22g
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 204
      message: No Content
version: 1
