interactions:
- request:
    body: grant_type=refresh_token&client_id=378887917503-cmthhlg1nnnr6hqvum1sgaggmqqbnse7.apps.googleusercontent.com&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fcalendar
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://oauth2.googleapis.com/token
  response:
    body:
      string: "{\n  \"access_token\": \"ya29.A0AS3H6Nwn-W-z4Q-tr6oIwHn4aXkzuCYEm9X9cWUWZnBaDayU8YQM-Z1L_F9ZRAqFw67IG3lxUYZbgOEg90nfDki-d4iGj3cFG7vEDIvINfzDwRBNXI7LD9JZhMsQQvM8j59a12KPZ8izLC9kE_8-n_Wy-si2UjSCHfL4iwXO2vCGVArVMygjGHMqKL5YUa8vOriwQgmIaCgYKAYgSARcSFQHGX2MirTbEx2o4WVNTjNzjXc2zOg0207\",\n
        \ \"expires_in\": 3599,\n  \"scope\": \"https://www.googleapis.com/auth/calendar\",\n
        \ \"token_type\": \"Bearer\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/calendar/v3/calendars/primary?alt=json
  response:
    body:
      string: "{\n \"kind\": \"calendar#calendar\",\n \"etag\": \"\\\"yBYytaCkItN-Z7wk25cvBHCrK3k\\\"\",\n
        \"id\": \"williamjameshandley.arxiv@gmail.com\",\n \"summary\": \"williamjameshandley.arxiv@gmail.com\",\n
        \"timeZone\": \"Europe/London\",\n \"conferenceProperties\": {\n  \"allowedConferenceSolutionTypes\":
        [\n   \"hangoutsMeet\"\n  ]\n }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - '"yBYytaCkItN-Z7wk25cvBHCrK3k"'
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 200
      message: OK
- request:
    body: '{"summary": "Natural Language Meeting", "description": "Created with natural
      language input", "location": "Conference Room", "start": {"dateTime": "2025-07-17T14:00:00",
      "timeZone": "Europe/London"}, "end": {"dateTime": "2025-07-17T15:00:00", "timeZone":
      "Europe/London"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events?alt=json
  response:
    body:
      string: "{\n \"kind\": \"calendar#event\",\n \"etag\": \"\\\"3505243529312190\\\"\",\n
        \"id\": \"r1ea80sr8hga8p2dkrqa1ssls8\",\n \"status\": \"confirmed\",\n \"htmlLink\":
        \"https://www.google.com/calendar/event?eid=cjFlYTgwc3I4aGdhOHAyZGtycWExc3Nsczggd2lsbGlhbWphbWVzaGFuZGxleS5hcnhpdkBt\",\n
        \"created\": \"2025-07-15T23:22:44.000Z\",\n \"updated\": \"2025-07-15T23:22:44.656Z\",\n
        \"summary\": \"Natural Language Meeting\",\n \"description\": \"Created with
        natural language input\",\n \"location\": \"Conference Room\",\n \"creator\":
        {\n  \"email\": \"williamjameshandley.arxiv@gmail.com\",\n  \"self\": true\n
        },\n \"organizer\": {\n  \"email\": \"williamjameshandley.arxiv@gmail.com\",\n
        \ \"self\": true\n },\n \"start\": {\n  \"dateTime\": \"2025-07-17T14:00:00+01:00\",\n
        \ \"timeZone\": \"Europe/London\"\n },\n \"end\": {\n  \"dateTime\": \"2025-07-17T15:00:00+01:00\",\n
        \ \"timeZone\": \"Europe/London\"\n },\n \"iCalUID\": \"r1ea80sr8hga8p2dkrqa1ssls8@google.com\",\n
        \"sequence\": 0,\n \"reminders\": {\n  \"useDefault\": true\n },\n \"eventType\":
        \"default\"\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - '"3505243529312190"'
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events/r1ea80sr8hga8p2dkrqa1ssls8?alt=json
  response:
    body:
      string: "{\n \"kind\": \"calendar#event\",\n \"etag\": \"\\\"3505243529312190\\\"\",\n
        \"id\": \"r1ea80sr8hga8p2dkrqa1ssls8\",\n \"status\": \"confirmed\",\n \"htmlLink\":
        \"https://www.google.com/calendar/event?eid=cjFlYTgwc3I4aGdhOHAyZGtycWExc3Nsczggd2lsbGlhbWphbWVzaGFuZGxleS5hcnhpdkBt\",\[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events/r1ea80sr8hga8p2dkrqa1ssls8
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 204
      message: No Content
version: 1
