interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/calendar/v3/calendars/primary?alt=json
  response:
    body:
      string: "{\n \"kind\": \"calendar#calendar\",\n \"etag\": \"\\\"yBYytaCkItN-Z7wk25cvBHCrK3k\\\"\",\n
        \"id\": \"williamjameshandley.arxiv@gmail.com\",\n \"summary\": \"williamjameshandley.arxiv@gmail.com\",\n
        \"timeZone\": \"Europe/London\",\n \"conferenceProperties\": {\n  \"allowedConferenceSolutionTypes\":
        [\n   \"hangoutsMeet\"\n  ]\n }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - '"yBYytaCkItN-Z7wk25cvBHCrK3k"'
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 200
      message: OK
- request:
    body: '{"summary": "Global Team Sync", "description": "Meeting starts 9AM London
      time, ends 5PM New York time", "location": "Video Conference", "start": {"dateTime":
      "2025-07-17T09:00:00", "timeZone": "Europe/London"}, "end": {"dateTime": "2025-07-17T17:00:00",
      "timeZone": "America/New_York"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events?alt=json
  response:
    body:
      string: "{\n \"kind\": \"calendar#event\",\n \"etag\": \"\\\"3505243535862142\\\"\",\n
        \"id\": \"pd0ueruhmdvnhrk8673mr3mokg\",\n \"status\": \"confirmed\",\n \"htmlLink\":
        \"https://www.google.com/calendar/event?eid=cGQwdWVydWhtZHZuaHJrODY3M21yM21va2cgd2lsbGlhbWphbWVzaGFuZGxleS5hcnhpdkBt\",\n
        \"created\": \"2025-07-15T23:22:47.000Z\",\n \"updated\": \"2025-07-15T23:22:47.931Z\",\n
        \"summary\": \"Global Team Sync\",\n \"description\": \"Meeting starts 9AM
        London time, ends 5PM New York time\",\n \"location\": \"Video Conference\",\n
        \"creator\": {\n  \"email\": \"williamjameshandley.arxiv@gmail.com\",\n  \"self\":
        true\n },\n \"organizer\": {\n  \"email\": \"williamjameshandley.arxiv@gmail.com\",\n
        \ \"self\": true\n },\n \"start\": {\n  \"dateTime\": \"2025-07-17T09:00:00+01:00\",\n
        \ \"timeZone\": \"Europe/London\"\n },\n \"end\": {\n  \"dateTime\": \"2025-07-17T22:00:00+01:00\",\n
        \ \"timeZone\": \"America/New_York\"\n },\n \"iCalUID\": \"pd0ueruhmdvnhrk8673mr3mokg@google.com\",\n
        \"sequence\": 0,\n \"reminders\": {\n  \"useDefault\": true\n },\n \"eventType\":
        \"default\"\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - '"3505243535862142"'
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events/pd0ueruhmdvnhrk8673mr3mokg?alt=json
  response:
    body:
      string: "{\n \"kind\": \"calendar#event\",\n \"etag\": \"\\\"3505243535862142\\\"\",\n
        \"id\": \"pd0ueruhmdvnhrk8673mr3mokg\",\n \"status\": \"confirmed\",\n \"htmlLink\":
        \"https://www.google.com/calendar/event?eid=cGQwdWVydWhtZHZuaHJrODY3M21yM21va2cgd2lsbGlhbWphbWVzaGFuZGxleS5hcnhpdkBt\",\[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events/pd0ueruhmdvnhrk8673mr3mokg
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 204
      message: No Content
version: 1
