interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events?alt=json&maxResults=100&orderBy=startTime&singleEvents=true&timeMax=2035-07-30T23%3A59%3A59Z&timeMin=2035-07-29T00%3A00%3A00Z
  response:
    body:
      string: "{\n \"kind\": \"calendar#events\",\n \"etag\": \"\\\"p32vp5q40g3ios0o\\\"\",\n
        \"summary\": \"williamjameshandley.arxiv@gmail.com\",\n \"description\": \"\",\n
        \"updated\": \"2025-07-30T16:27:26.700Z\",\n \"timeZone\": \"Europe/London\",\n
        \"accessRole\": \"owner\",\n \"defaultReminders\": [\n  {\n   \"method\":
        \"popup\",\n   \"minutes\": 30\n  }\n ],\n \"items\": []\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 200
      message: OK
version: 1
