interactions:
- request:
    body: '{"summary": "Normal Timezone Event", "description": "No timezone issues",
      "location": "", "start": {"dateTime": "2025-07-16T14:00:00", "timeZone": "Europe/London"},
      "end": {"dateTime": "2025-07-16T15:00:00", "timeZone": "Europe/London"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events?alt=json
  response:
    body:
      string: "{\n \"kind\": \"calendar#event\",\n \"etag\": \"\\\"3505119481875710\\\"\",\n
        \"id\": \"0sgt12kk45r2se96hd4kq1if04\",\n \"status\": \"confirmed\",\n \"htmlLink\":
        \"https://www.google.com/calendar/event?eid=MHNndDEya2s0NXIyc2U5NmhkNGtxMWlmMDQgd2lsbGlhbWphbWVzaGFuZGxleS5hcnhpdkBt\",\n
        \"created\": \"2025-07-15T06:09:00.000Z\",\n \"updated\": \"2025-07-15T06:09:00.937Z\",\n
        \"summary\": \"Normal Timezone Event\",\n \"description\": \"No timezone issues\",\n
        \"creator\": {\n  \"email\": \"williamjameshandley.arxiv@gmail.com\",\n  \"self\":
        true\n },\n \"organizer\": {\n  \"email\": \"williamjameshandley.arxiv@gmail.com\",\n
        \ \"self\": true\n },\n \"start\": {\n  \"dateTime\": \"2025-07-16T14:00:00+01:00\",\n
        \ \"timeZone\": \"Europe/London\"\n },\n \"end\": {\n  \"dateTime\": \"2025-07-16T15:00:00+01:00\",\n
        \ \"timeZone\": \"Europe/London\"\n },\n \"iCalUID\": \"0sgt12kk45r2se96hd4kq1if04@google.com\",\n
        \"sequence\": 0,\n \"reminders\": {\n  \"useDefault\": true\n },\n \"eventType\":
        \"default\"\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - '"3505119481875710"'
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events/0sgt12kk45r2se96hd4kq1if04?alt=json
  response:
    body:
      string: "{\n \"kind\": \"calendar#event\",\n \"etag\": \"\\\"3505119481875710\\\"\",\n
        \"id\": \"0sgt12kk45r2se96hd4kq1if04\",\n \"status\": \"confirmed\",\n \"htmlLink\":
        \"https://www.google.com/calendar/event?eid=MHNndDEya2s0NXIyc2U5NmhkNGtxMWlmMDQgd2lsbGlhbWphbWVzaGFuZGxleS5hcnhpdkBt\",\[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events/0sgt12kk45r2se96hd4kq1if04
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 204
      message: No Content
version: 1
