interactions:
- request:
    body: grant_type=refresh_token&client_id=378887917503-cmthhlg1nnnr6hqvum1sgaggmqqbnse7.apps.googleusercontent.com&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fcalendar
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://oauth2.googleapis.com/token
  response:
    body:
      string: "{\n  \"access_token\": \"ya29.A0AS3H6NwHI03jbMD6cTTW2dtKTr6JhjHw0aoDDnN4pdxfcPPjJNaEOqSijHr00CAy2J09qB5nQ2jlgLQDerCo6VlW7aw_81D699oOGybgMYGTpb-2sTo-FJRvjfZp5UGxJMW1EM569lO4TB1sm1qpuE38WDM7xcvjBgSmPu09w723fxfv-iP5ymvB96Dq2MlvXQRK2fOCugaCgYKARcSARcSFQHGX2Miwi9--wDZS1zbP02Tp3jkSQ0209\",\n
        \ \"expires_in\": 3599,\n  \"scope\": \"https://www.googleapis.com/auth/calendar\",\n
        \ \"token_type\": \"Bearer\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events?alt=json&maxResults=100&orderBy=startTime&q=unique_search_term_1753522296.312183&singleEvents=true&timeMax=2024-12-31T23%3A59%3A59Z&timeMin=2024-01-01T00%3A00%3A00Z
  response:
    body:
      string: "{\n \"kind\": \"calendar#events\",\n \"etag\": \"\\\"p327r92sbgjd8s0o\\\"\",\n
        \"summary\": \"williamjameshandley.arxiv@gmail.com\",\n \"description\": \"\",\n
        \"updated\": \"2025-07-26T07:46:24.869Z\",\n \"timeZone\": \"Europe/London\",\n
        \"accessRole\": \"owner\",\n \"defaultReminders\": [\n  {\n   \"method\":
        \"popup\",\n   \"minutes\": 30\n  }\n ],\n \"items\": []\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events?alt=json&maxResults=100&orderBy=startTime&q=unique_search_term_1753522426.222757&singleEvents=true&timeMax=2024-12-31T23%3A59%3A59Z&timeMin=2024-01-01T00%3A00%3A00Z
  response:
    body:
      string: "{\n \"kind\": \"calendar#events\",\n \"etag\": \"\\\"p33fq7fsajjd8s0o\\\"\",\n
        \"summary\": \"williamjameshandley.arxiv@gmail.com\",\n \"description\": \"\",\n
        \"updated\": \"2025-07-26T09:33:46.073Z\",\n \"timeZone\": \"Europe/London\",\n
        \"accessRole\": \"owner\",\n \"defaultReminders\": [\n  {\n   \"method\":
        \"popup\",\n   \"minutes\": 30\n  }\n ],\n \"items\": []\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 200
      message: OK
version: 1
