interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/calendar/v3/calendars/primary?alt=json
  response:
    body:
      string: "{\n  \"error\": {\n    \"code\": 401,\n    \"message\": \"Request had
        invalid authentication credentials. Expected OAuth 2 access token, login cookie
        or other valid authentication credential. See https://developers.google.com/identity/sign-in/web/devconsole-project.\",\n
        \   \"errors\": [\n      {\n        \"message\": \"Invalid Credentials\",\n
        \       \"domain\": \"global\",\n        \"reason\": \"authError\",\n        \"location\":
        \"Authorization\",\n        \"locationType\": \"header\"\n      }\n    ],\n
        \   \"status\": \"UNAUTHENTICATED\"\n  }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      WWW-Authenticate:
      - Bearer realm="https://accounts.google.com/", error="invalid_token"
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 401
      message: Unauthorized
- request:
    body: grant_type=refresh_token&client_id=378887917503-cmthhlg1nnnr6hqvum1sgaggmqqbnse7.apps.googleusercontent.com&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fcalendar
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://oauth2.googleapis.com/token
  response:
    body:
      string: "{\n  \"access_token\": \"REDACTED_OAUTH_TOKEN\",\n
        \ \"expires_in\": 3599,\n  \"scope\": \"https://www.googleapis.com/auth/calendar\",\n
        \ \"token_type\": \"Bearer\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/calendar/v3/calendars/primary?alt=json
  response:
    body:
      string: "{\n \"kind\": \"calendar#calendar\",\n \"etag\": \"\\\"yBYytaCkItN-Z7wk25cvBHCrK3k\\\"\",\n
        \"id\": \"williamjameshandley.arxiv@gmail.com\",\n \"summary\": \"williamjameshandley.arxiv@gmail.com\",\n
        \"timeZone\": \"Europe/London\",\n \"conferenceProperties\": {\n  \"allowedConferenceSolutionTypes\":
        [\n   \"hangoutsMeet\"\n  ]\n }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - '"yBYytaCkItN-Z7wk25cvBHCrK3k"'
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 200
      message: OK
- request:
    body: '{"summary": "Global Team Sync", "description": "Originally scheduled for
      PST", "location": "Online", "start": {"dateTime": "2025-08-14T19:00:00+01:00",
      "timeZone": "Europe/London"}, "end": {"dateTime": "2025-08-14T20:00:00+01:00",
      "timeZone": "Europe/London"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events?alt=json
  response:
    body:
      string: "{\n \"kind\": \"calendar#event\",\n \"etag\": \"\\\"3510161555633086\\\"\",\n
        \"id\": \"chuva5lmjlssvgd9kgvmis8rec\",\n \"status\": \"confirmed\",\n \"htmlLink\":
        \"https://www.google.com/calendar/event?eid=Y2h1dmE1bG1qbHNzdmdkOWtndm1pczhyZWMgd2lsbGlhbWphbWVzaGFuZGxleS5hcnhpdkBt\",\n
        \"created\": \"2025-08-13T10:26:17.000Z\",\n \"updated\": \"2025-08-13T10:26:17.816Z\",\n
        \"summary\": \"Global Team Sync\",\n \"description\": \"Originally scheduled
        for PST\",\n \"location\": \"Online\",\n \"creator\": {\n  \"email\": \"williamjameshandley.arxiv@gmail.com\",\n
        \ \"self\": true\n },\n \"organizer\": {\n  \"email\": \"williamjameshandley.arxiv@gmail.com\",\n
        \ \"self\": true\n },\n \"start\": {\n  \"dateTime\": \"2025-08-14T19:00:00+01:00\",\n
        \ \"timeZone\": \"Europe/London\"\n },\n \"end\": {\n  \"dateTime\": \"2025-08-14T20:00:00+01:00\",\n
        \ \"timeZone\": \"Europe/London\"\n },\n \"iCalUID\": \"chuva5lmjlssvgd9kgvmis8rec@google.com\",\n
        \"sequence\": 0,\n \"reminders\": {\n  \"useDefault\": true\n },\n \"eventType\":
        \"default\"\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - '"3510161555633086"'
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events/chuva5lmjlssvgd9kgvmis8rec?alt=json
  response:
    body:
      string: "{\n  \"error\": {\n    \"code\": 401,\n    \"message\": \"Request had
        invalid authentication credentials. Expected OAuth 2 access token, login cookie
        or other valid authentication credential. See https://developers.google.com/identity/sign-in/web/devconsole-project.\",\n
        \   \"errors\": [\n      {\n        \"message\": \"Invalid Credentials\",\n
        \       \"domain\": \"global\",\n        \"reason\": \"authError\",\n        \"location\":
        \"Authorization\",\n        \"locationType\": \"header\"\n      }\n    ],\n
        \   \"status\": \"UNAUTHENTICATED\"\n  }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      WWW-Authenticate:
      - Bearer realm="https://accounts.google.com/", error="invalid_token"
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 401
      message: Unauthorized
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events/chuva5lmjlssvgd9kgvmis8rec
  response:
    body:
      string: "{\n  \"error\": {\n    \"code\": 401,\n    \"message\": \"Request had
        invalid authentication credentials. Expected OAuth 2 access token, login cookie
        or other valid authentication credential. See https://developers.google.com/identity/sign-in/web/devconsole-project.\",\n
        \   \"errors\": [\n      {\n        \"message\": \"Invalid Credentials\",\n
        \       \"domain\": \"global\",\n        \"reason\": \"authError\",\n        \"location\":
        \"Authorization\",\n        \"locationType\": \"header\"\n      }\n    ],\n
        \   \"status\": \"UNAUTHENTICATED\"\n  }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      WWW-Authenticate:
      - Bearer realm="https://accounts.google.com/", error="invalid_token"
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 401
      message: Unauthorized
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events/chuva5lmjlssvgd9kgvmis8rec
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 204
      message: No Content
version: 1
