interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/calendar/v3/calendars/primary?alt=json
  response:
    body:
      string: "{\n \"kind\": \"calendar#calendar\",\n \"etag\": \"\\\"yBYytaCkItN-Z7wk25cvBHCrK3k\\\"\",\n
        \"id\": \"williamjameshandley.arxiv@gmail.com\",\n \"summary\": \"williamjameshandley.arxiv@gmail.com\",\n
        \"timeZone\": \"Europe/London\",\n \"conferenceProperties\": {\n  \"allowedConferenceSolutionTypes\":
        [\n   \"hangoutsMeet\"\n  ]\n }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - '"yBYytaCkItN-Z7wk25cvBHCrK3k"'
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 200
      message: OK
- request:
    body: '{"summary": "Outbound Flight LAX \u2192 JFK", "description": "Departure
      8:00 AM PST, Arrival 4:30 PM EST", "location": "Los Angeles to New York", "start":
      {"dateTime": "2025-07-17T08:00:00", "timeZone": "America/Los_Angeles"}, "end":
      {"dateTime": "2025-07-17T16:30:00", "timeZone": "America/New_York"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events?alt=json
  response:
    body:
      string: "{\n \"kind\": \"calendar#event\",\n \"etag\": \"\\\"3505243557590398\\\"\",\n
        \"id\": \"jei6rf56ugmnq8n21hddm4rudg\",\n \"status\": \"confirmed\",\n \"htmlLink\":
        \"https://www.google.com/calendar/event?eid=amVpNnJmNTZ1Z21ucThuMjFoZGRtNHJ1ZGcgd2lsbGlhbWphbWVzaGFuZGxleS5hcnhpdkBt\",\n
        \"created\": \"2025-07-15T23:22:58.000Z\",\n \"updated\": \"2025-07-15T23:22:58.795Z\",\n
        \"summary\": \"Outbound Flight LAX \u2192 JFK\",\n \"description\": \"Departure
        8:00 AM PST, Arrival 4:30 PM EST\",\n \"location\": \"Los Angeles to New York\",\n
        \"creator\": {\n  \"email\": \"williamjameshandley.arxiv@gmail.com\",\n  \"self\":
        true\n },\n \"organizer\": {\n  \"email\": \"williamjameshandley.arxiv@gmail.com\",\n
        \ \"self\": true\n },\n \"start\": {\n  \"dateTime\": \"2025-07-17T16:00:00+01:00\",\n
        \ \"timeZone\": \"America/Los_Angeles\"\n },\n \"end\": {\n  \"dateTime\":
        \"2025-07-17T21:30:00+01:00\",\n  \"timeZone\": \"America/New_York\"\n },\n
        \"iCalUID\": \"jei6rf56ugmnq8n21hddm4rudg@google.com\",\n \"sequence\": 0,\n
        \"reminders\": {\n  \"useDefault\": true\n },\n \"eventType\": \"default\"\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - '"3505243557590398"'
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events/jei6rf56ugmnq8n21hddm4rudg?alt=json
  response:
    body:
      string: "{\n \"kind\": \"calendar#event\",\n \"etag\": \"\\\"3505243557590398\\\"\",\n
        \"id\": \"jei6rf56ugmnq8n21hddm4rudg\",\n \"status\": \"confirmed\",\n \"htmlLink\":
        \"https://www.google.com/calendar/event?eid=amVpNnJmNTZ1Z21ucThuMjFoZGRtNHJ1ZGcgd2lsbGlhbWphbWVzaGFuZGxleS5hcnhpdkBt\",\[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events/kbuo2o7fchikhlbuqkv7cmcbj8?alt=json
  response:
    body:
      string: "{\n \"kind\": \"calendar#event\",\n \"etag\": \"\\\"3505243559082910\\\"\",\n
        \"id\": \"kbuo2o7fchikhlbuqkv7cmcbj8\",\n \"status\": \"confirmed\",\n \"htmlLink\":
        \"https://www.google.com/calendar/event?eid=a2J1bzJvN2ZjaGlraGxidXFrdjdjbWNiajggd2lsbGlhbWphbWVzaGFuZGxleS5hcnhpdkBt\",\[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events/jei6rf56ugmnq8n21hddm4rudg
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events/kbuo2o7fchikhlbuqkv7cmcbj8
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 204
      message: No Content
version: 1
