interactions:
- request:
    body: '{"summary": "VCR Test Event", "description": "Test event for VCR testing",
      "start": {"dateTime": "2025-06-28T14:00:00Z", "timeZone": "UTC"}, "end": {"dateTime":
      "2025-06-28T15:00:00Z", "timeZone": "UTC"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events?alt=json
  response:
    body:
      string: "{\n \"kind\": \"calendar#event\",\n \"etag\": \"\\\"3502117517287774\\\"\",\n
        \"id\": \"vq87cshbo6c5n20993hsk9gs7g\",\n \"status\": \"confirmed\",\n \"htmlLink\":
        \"https://www.google.com/calendar/event?eid=dnE4N2NzaGJvNmM1bjIwOTkzaHNrOWdzN2cgd2lsbGlhbWphbWVzaGFuZGxleS5hcnhpdkBt\",\n
        \"created\": \"2025-06-27T21:12:38.000Z\",\n \"updated\": \"2025-06-27T21:12:38.643Z\",\n
        \"summary\": \"VCR Test Event\",\n \"description\": \"Test event for VCR testing\",\n
        \"creator\": {\n  \"email\": \"williamjameshandley.arxiv@gmail.com\",\n  \"self\":
        true\n },\n \"organizer\": {\n  \"email\": \"williamjameshandley.arxiv@gmail.com\",\n
        \ \"self\": true\n },\n \"start\": {\n  \"dateTime\": \"2025-06-28T15:00:00+01:00\",\n
        \ \"timeZone\": \"UTC\"\n },\n \"end\": {\n  \"dateTime\": \"2025-06-28T16:00:00+01:00\",\n
        \ \"timeZone\": \"UTC\"\n },\n \"iCalUID\": \"vq87cshbo6c5n20993hsk9gs7g@google.com\",\n
        \"sequence\": 0,\n \"reminders\": {\n  \"useDefault\": true\n },\n \"eventType\":
        \"default\"\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - '"3502117517287774"'
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events/vq87cshbo6c5n20993hsk9gs7g?alt=json
  response:
    body:
      string: "{\n \"kind\": \"calendar#event\",\n \"etag\": \"\\\"3502117517287774\\\"\",\n
        \"id\": \"vq87cshbo6c5n20993hsk9gs7g\",\n \"status\": \"confirmed\",\n \"htmlLink\":
        \"https://www.google.com/calendar/event?eid=dnE4N2NzaGJvNmM1bjIwOTkzaHNrOWdzN2cgd2lsbGlhbWphbWVzaGFuZGxleS5hcnhpdkBt\",\n
        \"created\": \"2025-06-27T21:12:38.000Z\",\n \"updated\": \"2025-06-27T21:12:38.643Z\",\n
        \"summary\": \"VCR Test Event\",\n \"description\": \"Test event for VCR testing\",\n
        \"creator\": {\n  \"email\": \"williamjameshandley.arxiv@gmail.com\",\n  \"self\":
        true\n },\n \"organizer\": {\n  \"email\": \"williamjameshandley.arxiv@gmail.com\",\n
        \ \"self\": true\n },\n \"start\": {\n  \"dateTime\": \"2025-06-28T15:00:00+01:00\",\n
        \ \"timeZone\": \"UTC\"\n },\n \"end\": {\n  \"dateTime\": \"2025-06-28T16:00:00+01:00\",\n
        \ \"timeZone\": \"UTC\"\n },\n \"iCalUID\": \"vq87cshbo6c5n20993hsk9gs7g@google.com\",\n
        \"sequence\": 0,\n \"reminders\": {\n  \"useDefault\": true\n },\n \"eventType\":
        \"default\"\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - '"3502117517287774"'
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events/vq87cshbo6c5n20993hsk9gs7g
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 204
      message: No Content
version: 1
