interactions:
- request:
    body: '{"summary": "All Day Event", "description": "All day event test", "location":
      "", "start": {"date": "2025-07-16"}, "end": {"date": "2025-07-17"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events?alt=json
  response:
    body:
      string: "{\n \"kind\": \"calendar#event\",\n \"etag\": \"\\\"3505119488261982\\\"\",\n
        \"id\": \"u3coja13qd827pcjdogtg8n22g\",\n \"status\": \"confirmed\",\n \"htmlLink\":
        \"https://www.google.com/calendar/event?eid=dTNjb2phMTNxZDgyN3BjamRvZ3RnOG4yMmcgd2lsbGlhbWphbWVzaGFuZGxleS5hcnhpdkBt\",\n
        \"created\": \"2025-07-15T06:09:03.000Z\",\n \"updated\": \"2025-07-15T06:09:04.130Z\",\n
        \"summary\": \"All Day Event\",\n \"description\": \"All day event test\",\n
        \"creator\": {\n  \"email\": \"williamjameshandley.arxiv@gmail.com\",\n  \"self\":
        true\n },\n \"organizer\": {\n  \"email\": \"williamjameshandley.arxiv@gmail.com\",\n
        \ \"self\": true\n },\n \"start\": {\n  \"date\": \"2025-07-16\"\n },\n \"end\":
        {\n  \"date\": \"2025-07-17\"\n },\n \"iCalUID\": \"u3coja13qd827pcjdogtg8n22g@google.com\",\n
        \"sequence\": 0,\n \"reminders\": {\n  \"useDefault\": false,\n  \"overrides\":
        [\n   {\n    \"method\": \"popup\",\n    \"minutes\": 30\n   }\n  ]\n },\n
        \"eventType\": \"default\"\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - '"3505119488261982"'
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events/u3coja13qd827pcjdogtg8n22g?alt=json
  response:
    body:
      string: "{\n \"kind\": \"calendar#event\",\n \"etag\": \"\\\"3505119488261982\\\"\",\n
        \"id\": \"u3coja13qd827pcjdogtg8n22g\",\n \"status\": \"confirmed\",\n \"htmlLink\":
        \"https://www.google.com/calendar/event?eid=dTNjb2phMTNxZDgyN3BjamRvZ3RnOG4yMmcgd2lsbGlhbWphbWVzaGFuZGxleS5hcnhpdkBt\",\n
        \"created\": \"2025-07-15T06:09:03.000Z\",\n \"updated\": \"2025-07-15T06:09:04.130Z\",\n
        \"summary\": \"All Day Event\",\n \"description\": \"All day event test\",\n
        \"creator\": {\n  \"email\": \"williamjameshandley.arxiv@gmail.com\",\n  \"self\":
        true\n },\n \"organizer\": {\n  \"email\": \"williamjameshandley.arxiv@gmail.com\",\n
        \ \"self\": true\n },\n \"start\": {\n  \"date\": \"2025-07-16\"\n },\n \"end\":
        {\n  \"date\": \"2025-07-17\"\n },\n \"iCalUID\": \"u3coja13qd827pcjdogtg8n22g@google.com\",\n
        \"sequence\": 0,\n \"reminders\": {\n  \"useDefault\": false,\n  \"overrides\":
        [\n   {\n    \"method\": \"popup\",\n    \"minutes\": 30\n   }\n  ]\n },\n
        \"eventType\": \"default\"\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - '"3505119488261982"'
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events/u3coja13qd827pcjdogtg8n22g
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/calendar/v3/calendars/primary?alt=json
  response:
    body:
      string: "{\n  \"error\": {\n    \"code\": 401,\n    \"message\": \"Request had
        invalid authentication credentials. Expected OAuth 2 access token, login cookie
        or other valid authentication credential. See https://developers.google.com/identity/sign-in/web/devconsole-project.\",\n
        \   \"errors\": [\n      {\n        \"message\": \"Invalid Credentials\",\n
        \       \"domain\": \"global\",\n        \"reason\": \"authError\",\n        \"location\":
        \"Authorization\",\n        \"locationType\": \"header\"\n      }\n    ],\n
        \   \"status\": \"UNAUTHENTICATED\"\n  }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      WWW-Authenticate:
      - Bearer realm="https://accounts.google.com/", error="invalid_token"
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 401
      message: Unauthorized
- request:
    body: grant_type=refresh_token&client_id=378887917503-cmthhlg1nnnr6hqvum1sgaggmqqbnse7.apps.googleusercontent.com&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fcalendar
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://oauth2.googleapis.com/token
  response:
    body:
      string: "{\n  \"access_token\": \"ya29.A0AS3H6NyrfPnw2a5VGP6mv0Z2KERAqdLydhVRu4QNaMEEZWnc-SyFYlD33zzrg3WhnLNsiMgsvgwRm7Qx4IvCFMy3r4dnxV-BGcsqVqetHngE1PvYU4GuO2LTwOxThuohNI0wQMXogqtv4-L92vh_WM5ZToQJ4saGf56KsneQdHaJUU-VsHMCn0WILbWN446O1a-X5vzQaCgYKAZwSARYSFQHGX2MiWKUcO2yC69cvdI_MVJrauw0207\",\n
        \ \"expires_in\": 3599,\n  \"scope\": \"https://www.googleapis.com/auth/calendar\",\n
        \ \"token_type\": \"Bearer\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/calendar/v3/calendars/primary?alt=json
  response:
    body:
      string: "{\n \"kind\": \"calendar#calendar\",\n \"etag\": \"\\\"yBYytaCkItN-Z7wk25cvBHCrK3k\\\"\",\n
        \"id\": \"williamjameshandley.arxiv@gmail.com\",\n \"summary\": \"williamjameshandley.arxiv@gmail.com\",\n
        \"timeZone\": \"Europe/London\",\n \"conferenceProperties\": {\n  \"allowedConferenceSolutionTypes\":
        [\n   \"hangoutsMeet\"\n  ]\n }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - '"yBYytaCkItN-Z7wk25cvBHCrK3k"'
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 200
      message: OK
version: 1
