interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/calendar/v3/users/me/calendarList?alt=json
  response:
    body:
      string: "{\n  \"error\": {\n    \"code\": 401,\n    \"message\": \"Request had
        invalid authentication credentials. Expected OAuth 2 access token, login cookie
        or other valid authentication credential. See https://developers.google.com/identity/sign-in/web/devconsole-project.\",\n
        \   \"errors\": [\n      {\n        \"message\": \"Invalid Credentials\",\n
        \       \"domain\": \"global\",\n        \"reason\": \"authError\",\n        \"location\":
        \"Authorization\",\n        \"locationType\": \"header\"\n      }\n    ],\n
        \   \"status\": \"UNAUTHENTICATED\"\n  }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      WWW-Authenticate:
      - Bearer realm="https://accounts.google.com/", error="invalid_token"
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 401
      message: Unauthorized
- request:
    body: grant_type=refresh_token&client_id=378887917503-cmthhlg1nnnr6hqvum1sgaggmqqbnse7.apps.googleusercontent.com&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fcalendar
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://oauth2.googleapis.com/token
  response:
    body:
      string: "{\n  \"access_token\": \"ya29.a0AS3H6Ny2BPACb7XRuWt2BmYCTwwjYnzy20tSTbxUk75RNEU21hQcoXwrcwU6woYGuP9hjE6yKK6mGWAPTaPb_e-96qRH0_-RmD3hGxwDdeoKU5rpv6qKaEIYgqux5l__PTcq-ZocR9IWkg523NFEhtEc92tFqgp0VurR2o-VMQaCgYKAcYSARcSFQHGX2MiFuTWbaYacOiuJwvGMJ-UxQ0177\",\n
        \ \"expires_in\": 3599,\n  \"scope\": \"https://www.googleapis.com/auth/calendar\",\n
        \ \"token_type\": \"Bearer\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/calendar/v3/users/me/calendarList?alt=json
  response:
    body:
      string: "{\n \"kind\": \"calendar#calendarList\",\n \"etag\": \"\\\"p33nv3t5isehos0o\\\"\",\n
        \"nextSyncToken\": \"CO_x9LLjo44DEiN3aWxsaWFtamFtZXNoYW5kbGV5LmFyeGl2QGdtYWlsLmNvbQ==\",\n
        \"items\": [\n  {\n   \"kind\": \"calendar#calendarListEntry\",\n   \"etag\":
        \"\\\"1482883012196000\\\"\",\n   \"id\": \"williamjameshandley.arxiv@gmail.com\",\n
        \  \"summary\": \"williamjameshandley.arxiv@gmail.com\",\n   \"timeZone\":
        \"Europe/London\",\n   \"colorId\": \"14\",\n   \"backgroundColor\": \"#9fe1e7\",\n
        \  \"foregroundColor\": \"#000000\",\n   \"selected\": true,\n   \"accessRole\":
        \"owner\",\n   \"defaultReminders\": [\n    {\n     \"method\": \"popup\",\n
        \    \"minutes\": 30\n    }\n   ],\n   \"notificationSettings\": {\n    \"notifications\":
        [\n     {\n      \"type\": \"eventCreation\",\n      \"method\": \"email\"\n
        \    },\n     {\n      \"type\": \"eventChange\",\n      \"method\": \"email\"\n
        \    },\n     {\n      \"type\": \"eventCancellation\",\n      \"method\":
        \"email\"\n     },\n     {\n      \"type\": \"eventResponse\",\n      \"method\":
        \"email\"\n     }\n    ]\n   },\n   \"primary\": true,\n   \"conferenceProperties\":
        {\n    \"allowedConferenceSolutionTypes\": [\n     \"hangoutsMeet\"\n    ]\n
        \  }\n  },\n  {\n   \"kind\": \"calendar#calendarListEntry\",\n   \"etag\":
        \"\\\"1617278361036000\\\"\",\n   \"id\": \"en.uk#holiday@group.v.calendar.google.com\",\n
        \  \"summary\": \"Holidays in United Kingdom\",\n   \"description\": \"Holidays
        and Observances in United Kingdom\",\n   \"timeZone\": \"Europe/London\",\n
        \  \"colorId\": \"8\",\n   \"backgroundColor\": \"#16a765\",\n   \"foregroundColor\":
        \"#000000\",\n   \"selected\": true,\n   \"accessRole\": \"reader\",\n   \"defaultReminders\":
        [],\n   \"conferenceProperties\": {\n    \"allowedConferenceSolutionTypes\":
        [\n     \"hangoutsMeet\"\n    ]\n   }\n  },\n  {\n   \"kind\": \"calendar#calendarListEntry\",\n
        \  \"etag[...]
