interactions:
- request:
    body: '{"summary": "Default Timezone Event", "description": "Testing default timezone
      fallback", "location": "", "start": {"dateTime": "2025-07-16T16:00:00", "timeZone":
      "Europe/London"}, "end": {"dateTime": "2025-07-16T17:00:00", "timeZone": "Europe/London"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events?alt=json
  response:
    body:
      string: "{\n \"kind\": \"calendar#event\",\n \"etag\": \"\\\"3505119655971486\\\"\",\n
        \"id\": \"qc0bf7h1c8tf9pik14l5f5r4rg\",\n \"status\": \"confirmed\",\n \"htmlLink\":
        \"https://www.google.com/calendar/event?eid=cWMwYmY3aDFjOHRmOXBpazE0bDVmNXI0cmcgd2lsbGlhbWphbWVzaGFuZGxleS5hcnhpdkBt\",\n
        \"created\": \"2025-07-15T06:10:27.000Z\",\n \"updated\": \"2025-07-15T06:10:27.985Z\",\n
        \"summary\": \"Default Timezone Event\",\n \"description\": \"Testing default
        timezone fallback\",\n \"creator\": {\n  \"email\": \"williamjameshandley.arxiv@gmail.com\",\n
        \ \"self\": true\n },\n \"organizer\": {\n  \"email\": \"williamjameshandley.arxiv@gmail.com\",\n
        \ \"self\": true\n },\n \"start\": {\n  \"dateTime\": \"2025-07-16T16:00:00+01:00\",\n
        \ \"timeZone\": \"Europe/London\"\n },\n \"end\": {\n  \"dateTime\": \"2025-07-16T17:00:00+01:00\",\n
        \ \"timeZone\": \"Europe/London\"\n },\n \"iCalUID\": \"qc0bf7h1c8tf9pik14l5f5r4rg@google.com\",\n
        \"sequence\": 0,\n \"reminders\": {\n  \"useDefault\": true\n },\n \"eventType\":
        \"default\"\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - '"3505119655971486"'
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events/qc0bf7h1c8tf9pik14l5f5r4rg?alt=json
  response:
    body:
      string: "{\n \"kind\": \"calendar#event\",\n \"etag\": \"\\\"3505119655971486\\\"\",\n
        \"id\": \"qc0bf7h1c8tf9pik14l5f5r4rg\",\n \"status\": \"confirmed\",\n \"htmlLink\":
        \"https://www.google.com/calendar/event?eid=cWMwYmY3aDFjOHRmOXBpazE0bDVmNXI0cmcgd2lsbGlhbWphbWVzaGFuZGxleS5hcnhpdkBt\",\[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events/qc0bf7h1c8tf9pik14l5f5r4rg
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 204
      message: No Content
version: 1
