interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events?alt=json&maxResults=100&orderBy=startTime&q=unique_search_term_1753827676.178093&singleEvents=true&timeMax=2024-12-31T23%3A59%3A59Z&timeMin=2024-01-01T00%3A00%3A00Z
  response:
    body:
      string: "{\n  \"error\": {\n    \"code\": 401,\n    \"message\": \"Request had
        invalid authentication credentials. Expected OAuth 2 access token, login cookie
        or other valid authentication credential. See https://developers.google.com/identity/sign-in/web/devconsole-project.\",\n
        \   \"errors\": [\n      {\n        \"message\": \"Invalid Credentials\",\n
        \       \"domain\": \"global\",\n        \"reason\": \"authError\",\n        \"location\":
        \"Authorization\",\n        \"locationType\": \"header\"\n      }\n    ],\n
        \   \"status\": \"UNAUTHENTICATED\"\n  }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      WWW-Authenticate:
      - Bearer realm="https://accounts.google.com/", error="invalid_token"
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 401
      message: Unauthorized
- request:
    body: grant_type=refresh_token&client_id=378887917503-cmthhlg1nnnr6hqvum1sgaggmqqbnse7.apps.googleusercontent.com&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fcalendar
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://oauth2.googleapis.com/token
  response:
    body:
      string: "{\n  \"access_token\": \"ya29.A0AS3H6NxxKMgXPbmkPSFoytppi13UqsOuY1QK5uYZfrrpeT2xxiQOutRFD5i4M1RZmrks3kNuZPoLgQFNxI5ltMECvEuOfY3t-AuHYgDul5tGMKc0xVn7KisiV3aCJCHYmpRRs5SpJ9IRWtQ7cHJq7erV2Nhydl16-vqM4gq9eUKoKpXkie2GnQIawL4cmxGqWvbVlL2OHAaCgYKAX4SARcSFQHGX2MiWE8G7CT_KDHCg7hBpfap1w0209\",\n
        \ \"expires_in\": 3599,\n  \"scope\": \"https://www.googleapis.com/auth/calendar\",\n
        \ \"token_type\": \"Bearer\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events?alt=json&maxResults=100&orderBy=startTime&q=unique_search_term_1753827676.178093&singleEvents=true&timeMax=2024-12-31T23%3A59%3A59Z&timeMin=2024-01-01T00%3A00%3A00Z
  response:
    body:
      string: "{\n \"kind\": \"calendar#events\",\n \"etag\": \"\\\"p33vor0cthnhos0o\\\"\",\n
        \"summary\": \"williamjameshandley.arxiv@gmail.com\",\n \"description\": \"\",\n
        \"updated\": \"2025-07-29T22:21:16.014Z\",\n \"timeZone\": \"Europe/London\",\n
        \"accessRole\": \"owner\",\n \"defaultReminders\": [\n  {\n   \"method\":
        \"popup\",\n   \"minutes\": 30\n  }\n ],\n \"items\": []\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 200
      message: OK
version: 1
