interactions:
- request:
    body: '{"summary": "Update Time Test", "description": "Original time", "location":
      "", "start": {"dateTime": "2025-07-16T09:00:00", "timeZone": "Europe/London"},
      "end": {"dateTime": "2025-07-16T10:00:00", "timeZone": "Europe/London"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events?alt=json
  response:
    body:
      string: "{\n \"kind\": \"calendar#event\",\n \"etag\": \"\\\"3505119697828126\\\"\",\n
        \"id\": \"44i9toeobeivah4rql2higgk7s\",\n \"status\": \"confirmed\",\n \"htmlLink\":
        \"https://www.google.com/calendar/event?eid=NDRpOXRvZW9iZWl2YWg0cnFsMmhpZ2drN3Mgd2lsbGlhbWphbWVzaGFuZGxleS5hcnhpdkBt\",\n
        \"created\": \"2025-07-15T06:10:48.000Z\",\n \"updated\": \"2025-07-15T06:10:48.914Z\",\n
        \"summary\": \"Update Time Test\",\n \"description\": \"Original time\",\n
        \"creator\": {\n  \"email\": \"williamjameshandley.arxiv@gmail.com\",\n  \"self\":
        true\n },\n \"organizer\": {\n  \"email\": \"williamjameshandley.arxiv@gmail.com\",\n
        \ \"self\": true\n },\n \"start\": {\n  \"dateTime\": \"2025-07-16T09:00:00+01:00\",\n
        \ \"timeZone\": \"Europe/London\"\n },\n \"end\": {\n  \"dateTime\": \"2025-07-16T10:00:00+01:00\",\n
        \ \"timeZone\": \"Europe/London\"\n },\n \"iCalUID\": \"44i9toeobeivah4rql2higgk7s@google.com\",\n
        \"sequence\": 0,\n \"reminders\": {\n  \"useDefault\": true\n },\n \"eventType\":
        \"default\"\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - '"3505119697828126"'
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 200
      message: OK
- request:
    body: '{"description": "Updated time", "start": {"dateTime": "2025-07-16T11:00:00",
      "timeZone": "Europe/London"}, "end": {"dateTime": "2025-07-16T12:00:00", "timeZone":
      "Europe/London"}}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events/44i9toeobeivah4rql2higgk7s?alt=json
  response:
    body:
      string: "{\n \"kind\": \"calendar#event\",\n \"etag\": \"\\\"35051196993[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events/44i9toeobeivah4rql2higgk7s
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 204
      message: No Content
version: 1
