interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/calendar/v3/calendars/primary?alt=json
  response:
    body:
      string: "{\n  \"error\": {\n    \"code\": 401,\n    \"message\": \"Request had
        invalid authentication credentials. Expected OAuth 2 access token, login cookie
        or other valid authentication credential. See https://developers.google.com/identity/sign-in/web/devconsole-project.\",\n
        \   \"errors\": [\n      {\n        \"message\": \"Invalid Credentials\",\n
        \       \"domain\": \"global\",\n        \"reason\": \"authError\",\n        \"location\":
        \"Authorization\",\n        \"locationType\": \"header\"\n      }\n    ],\n
        \   \"status\": \"UNAUTHENTICATED\"\n  }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      WWW-Authenticate:
      - Bearer realm="https://accounts.google.com/", error="invalid_token"
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 401
      message: Unauthorized
- request:
    body: grant_type=refresh_token&client_id=378887917503-cmthhlg1nnnr6hqvum1sgaggmqqbnse7.apps.googleusercontent.com&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fcalendar
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://oauth2.googleapis.com/token
  response:
    body:
      string: "{\n  \"access_token\": \"ya29.A0AS3H6NyvARjJOTIPoh0SHrgHwX3Au4htjwkw34zn5UbtJxYY1N0cK4MBTA819ztihIEsFf4FAo0ArZiaSdkwYxU5ZTNOSyILJfR19lb8pEK6LtMS341PjWFvY10EW218lrgd8xOaH4Qfgne1PLJxwC8qzbHuEFwmftP4nUN5-yDm1KIbVxfePdgVwkBwCis0fiFZcM1-ygaCgYKAVwSARQSFQHGX2MiFIcEUr-s9i-XA4rEn2e6Qg0209\",\n
        \ \"expires_in\": 3599,\n  \"scope\": \"https://www.googleapis.com/auth/calendar\",\n
        \ \"token_type\": \"Bearer\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/calendar/v3/calendars/primary?alt=json
  response:
    body:
      string: "{\n \"kind\": \"calendar#calendar\",\n \"etag\": \"\\\"yBYytaCkItN-Z7wk25cvBHCrK3k\\\"\",\n
        \"id\": \"williamjameshandley.arxiv@gmail.com\",\n \"summary\": \"williamjameshandley.arxiv@gmail.com\",\n
        \"timeZone\": \"Europe/London\",\n \"conferenceProperties\": {\n  \"allowedConferenceSolutionTypes\":
        [\n   \"hangoutsMeet\"\n  ]\n }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - '"yBYytaCkItN-Z7wk25cvBHCrK3k"'
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 200
      message: OK
- request:
    body: '{"summary": "Email Test", "description": "", "location": "", "start": {"dateTime":
      "2025-07-22T10:00:00+01:00", "timeZone": "Europe/London"}, "end": {"dateTime":
      "2025-07-22T11:00:00+01:00", "timeZone": "Europe/London"}, "attendees": [{"email":
      "not-an-email"}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events?alt=json
  response:
    body:
      string: "{\n \"error\": {\n  \"errors\": [\n   {\n    \"domain\": \"global\",\n
        \   \"reason\": \"invalid\",\n    \"message\": \"Invalid attendee email.\"\n
        \  }\n  ],\n  \"code\": 400,\n  \"message\": \"Invalid attendee email.\"\n
        }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: '{"summary": "Email Test", "description": "", "location": "", "start": {"dateTime":
      "2025-07-22T10:00:00+01:00", "timeZone": "Europe/London"}, "end": {"dateTime":
      "2025-07-22T11:00:00+01:00", "timeZone": "Europe/London"}, "attendees": [{"email":
      "missing@domain"}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events?alt=json
  response:
    body:
      string: "{\n \"kind\": \"calendar#event\",\n \"etag\": \"\\\"3506216647024094\\\"\",\n
        \"id\": \"nqt2trvhui9bdo5oc53su059k0\",\n \"status\": \"confirmed\",\n \"htmlLink\":
        \"https://www.google.com/calendar/event?eid=bnF0MnRydmh1aTliZG81b2M1M3N1MDU5azAgd2lsbGlhbWphbWVzaGFuZGxleS5hcnhpdkBt\",\n
        \"created\": \"2025-07-21T14:32:03.000Z\",\n \"updated\": \"2025-07-21T14:32:03.512Z\",\n
        \"summary\": \"Email Test\",\n \"creator\": {\n  \"email\": \"williamjameshandley.arxiv@gmail.com\",\n
        \ \"self\": true\n },\n \"organizer\": {\n  \"email\": \"williamjameshandley.arxiv@gmail.com\",\n
        \ \"self\": true\n },\n \"start\": {\n  \"dateTime\": \"2025-07-22T10:00:00+01:00\",\n
        \ \"timeZone\": \"Europe/London\"\n },\n \"end\": {\n  \"dateTime\": \"2025-07-22T11:00:00+01:00\",\n
        \ \"timeZone\": \"Europe/London\"\n },\n \"iCalUID\": \"nqt2trvhui9bdo5oc53su059k0@google.com\",\n
        \"sequence\": 0,\n \"attendees\": [\n  {\n   \"email\": \"missing@domain\",\n
        \  \"responseStatus\": \"needsAction\"\n  }\n ],\n \"reminders\": {\n  \"useDefault\":
        true\n },\n \"eventType\": \"default\"\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - '"3506216647024094"'
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 200
      message: OK
version: 1
