interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/calendar/v3/users/me/calendarList?alt=json&maxResults=1
  response:
    body:
      string: "{\n \"kind\": \"calendar#calendarList\",\n \"etag\": \"\\\"p32fth5kroa98s0o\\\"\",\n
        \"nextPageToken\": \"EiEKCwjE_4vDBRCA8rpdEhJnOjAwMDAwMGEyMjM1YWI4MTEaHxIJBwY4lCNuMwsAqsmIjAQOEgwIyJL8wgYQmJKW1AE=\",\n
        \"items\": [\n  {\n   \"kind\": \"calendar#calendarListEntry\",\n   \"etag\":
        \"\\\"1482883012196000\\\"\",\n   \"id\": \"williamjameshandley.arxiv@gmail.com\",\n
        \  \"summary\": \"williamjameshandley.arxiv@gmail.com\",\n   \"timeZone\":
        \"Europe/London\",\n   \"colorId\": \"14\",\n   \"backgroundColor\": \"#9fe1e7\",\n
        \  \"foregroundColor\": \"#000000\",\n   \"selected\": true,\n   \"accessRole\":
        \"owner\",\n   \"defaultReminders\": [\n    {\n     \"method\": \"popup\",\n
        \    \"minutes\": 30\n    }\n   ],\n   \"notificationSettings\": {\n    \"notifications\":
        [\n     {\n      \"type\": \"eventCreation\",\n      \"method\": \"email\"\n
        \    },\n     {\n      \"type\": \"eventChange\",\n      \"method\": \"email\"\n
        \    },\n     {\n      \"type\": \"eventCancellation\",\n      \"method\":
        \"email\"\n     },\n     {\n      \"type\": \"eventResponse\",\n      \"method\":
        \"email\"\n     }\n    ]\n   },\n   \"primary\": true,\n   \"conferenceProperties\":
        {\n    \"allowedConferenceSolutionTypes\": [\n     \"hangoutsMeet\"\n    ]\n
        \  }\n  }\n ]\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 200
      message: OK
version: 1
