interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/calendar/v3/calendars/primary?alt=json
  response:
    body:
      string: "{\n \"kind\": \"calendar#calendar\",\n \"etag\": \"\\\"yBYytaCkItN-Z7wk25cvBHCrK3k\\\"\",\n
        \"id\": \"williamjameshandley.arxiv@gmail.com\",\n \"summary\": \"williamjameshandley.arxiv@gmail.com\",\n
        \"timeZone\": \"Europe/London\",\n \"conferenceProperties\": {\n  \"allowedConferenceSolutionTypes\":
        [\n   \"hangoutsMeet\"\n  ]\n }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - '"yBYytaCkItN-Z7wk25cvBHCrK3k"'
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 200
      message: OK
- request:
    body: '{"summary": "Project Planning Meeting", "description": "Initial planning
      session", "location": "London Office", "start": {"dateTime": "2025-07-17T09:00:00",
      "timeZone": "Europe/London"}, "end": {"dateTime": "2025-07-17T10:00:00", "timeZone":
      "Europe/London"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events?alt=json
  response:
    body:
      string: "{\n \"kind\": \"calendar#event\",\n \"etag\": \"\\\"3505243564179006\\\"\",\n
        \"id\": \"n16k5d6eobvhkjv5olbdhpoi4s\",\n \"status\": \"confirmed\",\n \"htmlLink\":
        \"https://www.google.com/calendar/event?eid=bjE2azVkNmVvYnZoa2p2NW9sYmRocG9pNHMgd2lsbGlhbWphbWVzaGFuZGxleS5hcnhpdkBt\",\n
        \"created\": \"2025-07-15T23:23:01.000Z\",\n \"updated\": \"2025-07-15T23:23:02.089Z\",\n
        \"summary\": \"Project Planning Meeting\",\n \"description\": \"Initial planning
        session\",\n \"location\": \"London Office\",\n \"creator\": {\n  \"email\":
        \"williamjameshandley.arxiv@gmail.com\",\n  \"self\": true\n },\n \"organizer\":
        {\n  \"email\": \"williamjameshandley.arxiv@gmail.com\",\n  \"self\": true\n
        },\n \"start\": {\n  \"dateTime\": \"2025-07-17T09:00:00+01:00\",\n  \"timeZone\":
        \"Europe/London\"\n },\n \"end\": {\n  \"dateTime\": \"2025-07-17T10:00:00+01:00\",\n
        \ \"timeZone\": \"Europe/London\"\n },\n \"iCalUID\": \"n16k5d6eobvhkjv5olbdhpoi4s@google.com\",\n
        \"sequence\": 0,\n \"reminders\": {\n  \"useDefault\": true\n },\n \"eventType\":
        \"default\"\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - '"3505243564179006"'
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"summary": "Follow-up with US Team", "description": "Follow-up meeting
      spanning timezones", "location": "Video Conference", "start": {"dateTime": "2025-07-17T17:00:00",
      "timeZone": "Europe/London"}, "end": {"dateTime": "2025-07-17T09:00:00", "timeZone":
      "America/New_York"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events?alt=json
  response:
    body:
      string: "{\n \"error\": {\n  \"errors\": [\n   {\n    \"domain\": \"calendar\",\n
        \   \"reason\": \"timeRangeEmpty\",\n    \"message\": \"The specified time
        range is empty.\",\n    \"locationType\": \"parameter\",\n    \"location\":
        \"timeMax\"\n   }\n  ],\n  \"code\": 400,\n  \"message\": \"The specified
        time range is empty.\"\n }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 400
      message: Bad Request
version: 1
