interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/calendar/v3/users/me/calendarList?alt=json&maxResults=1
  response:
    body:
      string: "{\n  \"error\": {\n    \"code\": 401,\n    \"message\": \"Request had
        invalid authentication credentials. Expected OAuth 2 access token, login cookie
        or other valid authentication credential. See https://developers.google.com/identity/sign-in/web/devconsole-project.\",\n
        \   \"errors\": [\n      {\n        \"message\": \"Invalid Credentials\",\n
        \       \"domain\": \"global\",\n        \"reason\": \"authError\",\n        \"location\":
        \"Authorization\",\n        \"locationType\": \"header\"\n      }\n    ],\n
        \   \"status\": \"UNAUTHENTICATED\"\n  }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      WWW-Authenticate:
      - Bearer realm="https://accounts.google.com/", error="invalid_token"
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 401
      message: Unauthorized
- request:
    body: grant_type=refresh_token&client_id=378887917503-cmthhlg1nnnr6hqvum1sgaggmqqbnse7.apps.googleusercontent.com&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fcalendar
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://oauth2.googleapis.com/token
  response:
    body:
      string: "{\n  \"access_token\": \"ya29.a0AS3H6Nys7rGnFCiTumGf2nQbrq7-btw76vc1Tfprq-di46M6s-mB8z_5AB6npG9CJdjK3U2MenRMVhCQqsoAu1ulyrDinb8aO6x4J8OJVTst7YLcu7N6hmvWzGOiMobfWOZH4izh_Mc3jIf6gQWteLZ-x-Zyg-xlM1OtUXOHGQaCgYKAY0SARcSFQHGX2Milz26AY_gRNqxM43gdvmeug0177\",\n
        \ \"expires_in\": 3599,\n  \"scope\": \"https://www.googleapis.com/auth/calendar\",\n
        \ \"token_type\": \"Bearer\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/calendar/v3/users/me/calendarList?alt=json&maxResults=1
  response:
    body:
      string: "{\n \"kind\": \"calendar#calendarList\",\n \"etag\": \"\\\"p32frr74mhek8s0o\\\"\",\n
        \"nextPageToken\": \"EiEKCwjE_4vDBRCA8rpdEhJnOjAwMDAwMGEyMjM1YWI4MTEaHxIJBwY5QLL9aZAAqsmIjAQOEgwI3LCpwwYQmIr8pQE=\",\n
        \"items\": [\n  {\n   \"kind\": \"calendar#calendarListEntry\",\n   \"etag\":
        \"\\\"1482883012196000\\\"\",\n   \"id\": \"williamjameshandley.arxiv@gmail.com\",\n
        \  \"summary\": \"williamjameshandley.arxiv@gmail.com\",\n   \"timeZone\":
        \"Europe/London\",\n   \"colorId\": \"14\",\n   \"backgroundColor\": \"#9fe1e7\",\n
        \  \"foregroundColor\": \"#000000\",\n   \"selected\": true,\n   \"accessRole\":
        \"owner\",\n   \"defaultReminders\": [\n    {\n     \"method\": \"popup\",\n
        \    \"minutes\": 30\n    }\n   ],\n   \"notificationSettings\": {\n    \"notifications\":
        [\n     {\n      \"type\": \"eventCreation\",\n      \"method\": \"email\"\n
        \    },\n     {\n      \"type\": \"eventChange\",\n      \"method\": \"email\"\n
        \    },\n     {\n      \"type\": \"eventCancellation\",\n      \"method\":
        \"email\"\n     },\n     {\n      \"type\": \"eventResponse\",\n      \"method\":
        \"email\"\n     }\n    ]\n   },\n   \"primary\": true,\n   \"conferenceProperties\":
        {\n    \"allowedConferenceSolutionTypes\": [\n     \"hangoutsMeet\"\n    ]\n
        \  }\n  }\n ]\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 200
      message: OK
version: 1
