interactions:
- request:
    body: '{"timeMin": "2025-06-30T14:01:32.119117Z", "timeMax": "2025-07-07T14:01:32.119117Z",
      "items": [{"id": "primary"}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://www.googleapis.com/calendar/v3/freeBusy?alt=json
  response:
    body:
      string: "{\n \"kind\": \"calendar#freeBusy\",\n \"timeMin\": \"2025-06-30T14:01:32.119Z\",\n
        \"timeMax\": \"2025-07-07T14:01:32.119Z\",\n \"calendars\": {\n  \"primary\":
        {\n   \"busy\": [\n    {\n     \"start\": \"2025-06-30T14:01:32Z\",\n     \"end\":
        \"2025-06-30T15:00:00Z\"\n    },\n    {\n     \"start\": \"2025-07-01T14:00:00Z\",\n
        \    \"end\": \"2025-07-01T15:00:00Z\"\n    }\n   ]\n  }\n }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 200
      message: OK
version: 1
