interactions:
- request:
    body: grant_type=refresh_token&client_id=378887917503-cmthhlg1nnnr6hqvum1sgaggmqqbnse7.apps.googleusercontent.com&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fcalendar
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://oauth2.googleapis.com/token
  response:
    body:
      string: "{\n  \"access_token\": \"ya29.A0AS3H6NxKlvwQ6BYanWp3DeUksw9gIknlIMZQMle14vCtK5qd3edJfBuy5vYyEJbTcj11Uz0frUmbctIL5d5pdl2aYbCUKnUQsM1ha0fHJfu3t66882YKstRSj3WbCpQu8aMmIMx-XcAAPWEPO3240NdIfVKbypvny4KVJtKlQrMVu-HpYNwFkAI4jsA_las2T9obZG7qaCgYKAeASARQSFQHGX2Mieelhj7KeFXLd-yb7eqLo8A0207\",\n
        \ \"expires_in\": 3599,\n  \"scope\": \"https://www.googleapis.com/auth/calendar\",\n
        \ \"token_type\": \"Bearer\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"summary": "Timezone Test Event", "description": "Testing timezone normalization",
      "location": "", "start": {"dateTime": "2025-07-16T10:00:00Z", "timeZone": "Europe/London"},
      "end": {"dateTime": "2025-07-16T11:00:00Z", "timeZone": "Europe/London"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events?alt=json
  response:
    body:
      string: "{\n \"kind\": \"calendar#event\",\n \"etag\": \"\\\"3505119476237470\\\"\",\n
        \"id\": \"latimfvvclus045nl7l3fkdqgs\",\n \"status\": \"confirmed\",\n \"htmlLink\":
        \"https://www.google.com/calendar/event?eid=bGF0aW1mdnZjbHVzMDQ1bmw3bDNma2RxZ3Mgd2lsbGlhbWphbWVzaGFuZGxleS5hcnhpdkBt\",\n
        \"created\": \"2025-07-15T06:08:57.000Z\",\n \"updated\": \"2025-07-15T06:08:58.118Z\",\n
        \"summary\": \"Timezone Test Event\",\n \"description\": \"Testing timezone
        normalization\",\n \"creator\": {\n  \"email\": \"williamjameshandley.arxiv@gmail.com\",\n
        \ \"self\": true\n },\n \"organizer\": {\n  \"email\": \"williamjameshandley.arxiv@gmail.com\",\n
        \ \"self\": true\n },\n \"start\": {\n  \"dateTime\": \"2025-07-16T11:00:00+01:00\",\n
        \ \"timeZone\": \"Europe/London\"\n },\n \"end\": {\n  \"dateTime\": \"2025-07-16T12:00:00+01:00\",\n
        \ \"timeZone\": \"Europe/London\"\n },\n \"iCalUID\": \"latimfvvclus045nl7l3fkdqgs@google.com\",\n
        \"sequence\": 0,\n \"reminders\": {\n  \"useDefault\": true\n },\n \"eventType\":
        \"default\"\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - '"3505119476237470"'
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events/latimfvvclus045nl7l3fkdqgs?alt=json
  response:
    body:
      string: "{\n \"kind\": \"calendar#event\",\n \"etag\": \"\\\"3505119476237470\\\"\",\n
        \"id\": \"latimfvvclus045nl7l3fkdqgs\",\n \"status\": \"confirmed\",\n \"htmlLink\":
        \"https://www.google.com/calendar/event?eid=bGF0aW1mdnZjbHVzMDQ1bmw3bDNma2RxZ3Mgd2lsbGlhbWphbWVzaGFuZGxleS5hcnhpdkBt\",\[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events/latimfvvclus045nl7l3fkdqgs
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 204
      message: No Content
version: 1
