interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/calendar/v3/calendars/primary?alt=json
  response:
    body:
      string: "{\n  \"error\": {\n    \"code\": 401,\n    \"message\": \"Request had
        invalid authentication credentials. Expected OAuth 2 access token, login cookie
        or other valid authentication credential. See https://developers.google.com/identity/sign-in/web/devconsole-project.\",\n
        \   \"errors\": [\n      {\n        \"message\": \"Invalid Credentials\",\n
        \       \"domain\": \"global\",\n        \"reason\": \"authError\",\n        \"location\":
        \"Authorization\",\n        \"locationType\": \"header\"\n      }\n    ],\n
        \   \"status\": \"UNAUTHENTICATED\"\n  }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      WWW-Authenticate:
      - Bearer realm="https://accounts.google.com/", error="invalid_token"
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 401
      message: Unauthorized
- request:
    body: grant_type=refresh_token&client_id=378887917503-cmthhlg1nnnr6hqvum1sgaggmqqbnse7.apps.googleusercontent.com&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fcalendar
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://oauth2.googleapis.com/token
  response:
    body:
      string: "{\n  \"access_token\": \"ya29.A0AS3H6NwiseUtdFLL_ArjEDMdm_z-_sgf5lPB_mUOnB1sE6m_fCyHxSjMs7yMoSg_-YUq2bbHGFUf933yV-dJUdTIEHIYGtqYwKu8E2rmRADsFBAD6jz04yvfnQlo_2AcZlLmv8P5vvjncCgZR2tZGKrmiovinPwP4oaRUhrQSti5abR1e5Z50LyYaMVeoYQt3tAZ8fQ0JwaCgYKAWsSARcSFQHGX2MiSHeDzGJXRHrPCVYJvKU6Nw0209\",\n
        \ \"expires_in\": 3599,\n  \"scope\": \"https://www.googleapis.com/auth/calendar\",\n
        \ \"token_type\": \"Bearer\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/calendar/v3/calendars/primary?alt=json
  response:
    body:
      string: "{\n \"kind\": \"calendar#calendar\",\n \"etag\": \"\\\"yBYytaCkItN-Z7wk25cvBHCrK3k\\\"\",\n
        \"id\": \"williamjameshandley.arxiv@gmail.com\",\n \"summary\": \"williamjameshandley.arxiv@gmail.com\",\n
        \"timeZone\": \"Europe/London\",\n \"conferenceProperties\": {\n  \"allowedConferenceSolutionTypes\":
        [\n   \"hangoutsMeet\"\n  ]\n }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - '"yBYytaCkItN-Z7wk25cvBHCrK3k"'
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 200
      message: OK
- request:
    body: '{"summary": "New Year Boundary Event", "description": "Event spanning year
      boundary", "location": "", "start": {"dateTime": "2025-12-31T23:30:00+00:00",
      "timeZone": "Europe/London"}, "end": {"dateTime": "2026-01-01T00:30:00+00:00",
      "timeZone": "Europe/London"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events?alt=json
  response:
    body:
      string: "{\n \"kind\": \"calendar#event\",\n \"etag\": \"\\\"3507655355510174\\\"\",\n
        \"id\": \"prkqekbv5mus7s7jv26sqjdjv0\",\n \"status\": \"confirmed\",\n \"htmlLink\":
        \"https://www.google.com/calendar/event?eid=cHJrcWVrYnY1bXVzN3M3anYyNnNxamRqdjAgd2lsbGlhbWphbWVzaGFuZGxleS5hcnhpdkBt\",\n
        \"created\": \"2025-07-29T22:21:17.000Z\",\n \"updated\": \"2025-07-29T22:21:17.755Z\",\n
        \"summary\": \"New Year Boundary Event\",\n \"description\": \"Event spanning
        year boundary\",\n \"creator\": {\n  \"email\": \"williamjameshandley.arxiv@gmail.com\",\n
        \ \"self\": true\n },\n \"organizer\": {\n  \"email\": \"williamjameshandley.arxiv@gmail.com\",\n
        \ \"self\": true\n },\n \"start\": {\n  \"dateTime\": \"2025-12-31T23:30:00Z\",\n
        \ \"timeZone\": \"Europe/London\"\n },\n \"end\": {\n  \"dateTime\": \"2026-01-01T00:30:00Z\",\n
        \ \"timeZone\": \"Europe/London\"\n },\n \"iCalUID\": \"prkqekbv5mus7s7jv26sqjdjv0@google.com\",\n
        \"sequence\": 0,\n \"reminders\": {\n  \"useDefault\": true\n },\n \"eventType\":
        \"default\"\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - '"3507655355510174"'
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events/prkqekbv5mus7s7jv26sqjdjv0
  response:
    body:
      string: "{\n  \"error\": {\n    \"code\": 401,\n    \"message\": \"Request had
        invalid authentication credentials. Expected OAuth 2 access token, login cookie
        or other valid authentication credential. See https://developers.google.com/identity/sign-in/web/devconsole-project.\",\n
        \   \"errors\": [\n      {\n        \"message\": \"Invalid Credentials\",\n
        \       \"domain\": \"global\",\n        \"reason\": \"authError\",\n        \"location\":
        \"Authorization\",\n        \"locationType\": \"header\"\n      }\n    ],\n
        \   \"status\": \"UNAUTHENTICATED\"\n  }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      WWW-Authenticate:
      - Bearer realm="https://accounts.google.com/", error="invalid_token"
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 401
      message: Unauthorized
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events/prkqekbv5mus7s7jv26sqjdjv0
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 204
      message: No Content
version: 1
