interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/calendar/v3/calendars/primary?alt=json
  response:
    body:
      string: "{\n  \"error\": {\n    \"code\": 401,\n    \"message\": \"Request had
        invalid authentication credentials. Expected OAuth 2 access token, login cookie
        or other valid authentication credential. See https://developers.google.com/identity/sign-in/web/devconsole-project.\",\n
        \   \"errors\": [\n      {\n        \"message\": \"Invalid Credentials\",\n
        \       \"domain\": \"global\",\n        \"reason\": \"authError\",\n        \"location\":
        \"Authorization\",\n        \"locationType\": \"header\"\n      }\n    ],\n
        \   \"status\": \"UNAUTHENTICATED\"\n  }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      WWW-Authenticate:
      - Bearer realm="https://accounts.google.com/", error="invalid_token"
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 401
      message: Unauthorized
- request:
    body: grant_type=refresh_token&client_id=378887917503-cmthhlg1nnnr6hqvum1sgaggmqqbnse7.apps.googleusercontent.com&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fcalendar
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://oauth2.googleapis.com/token
  response:
    body:
      string: "{\n  \"access_token\": \"REDACTED_OAUTH_TOKEN\",\n
        \ \"expires_in\": 3599,\n  \"scope\": \"https://www.googleapis.com/auth/calendar\",\n
        \ \"token_type\": \"Bearer\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/calendar/v3/calendars/primary?alt=json
  response:
    body:
      string: "{\n \"kind\": \"calendar#calendar\",\n \"etag\": \"\\\"yBYytaCkItN-Z7wk25cvBHCrK3k\\\"\",\n
        \"id\": \"williamjameshandley.arxiv@gmail.com\",\n \"summary\": \"williamjameshandley.arxiv@gmail.com\",\n
        \"timeZone\": \"Europe/London\",\n \"conferenceProperties\": {\n  \"allowedConferenceSolutionTypes\":
        [\n   \"hangoutsMeet\"\n  ]\n }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - '"yBYytaCkItN-Z7wk25cvBHCrK3k"'
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 200
      message: OK
- request:
    body: '{"summary": "\u6d4b\u8bd5\u4e8b\u4ef6 \ud83d\uddd3\ufe0f \u00c9v\u00e9nement
      t\u00ebst", "description": "Descri\u00e7\u00e3o com caracteres especiais: \u00e5\u00e4\u00f6
      \u00fc\u00eb\u00ef \u00f1\u00e7 \u4e2d\u6587", "location": "Caf\u00e9 M\u00fcnchen,
      Z\u00fcrich \ud83c\udde8\ud83c\udded", "start": {"dateTime": "2025-08-14T10:00:00+01:00",
      "timeZone": "Europe/London"}, "end": {"dateTime": "2025-08-14T11:00:00+01:00",
      "timeZone": "Europe/London"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events?alt=json
  response:
    body:
      string: "{\n \"kind\": \"calendar#event\",\n \"etag\": \"\\\"3510161654253694\\\"\",\n
        \"id\": \"5thts7vu5i1fih9gjkgq5c1ebg\",\n \"status\": \"confirmed\",\n \"htmlLink\":
        \"https://www.google.com/calendar/event?eid=NXRodHM3dnU1aTFmaWg5Z2prZ3E1YzFlYmcgd2lsbGlhbWphbWVzaGFuZGxleS5hcnhpdkBt\",\n
        \"created\": \"2025-08-13T10:27:06.000Z\",\n \"updated\": \"2025-08-13T10:27:07.126Z\",\n
        \"summary\": \"\u6D4B\u8BD5\u4E8B\u4EF6 \U0001F5D3\uFE0F \xC9v\xE9nement t\xEBst\",\n
        \"description\": \"Descri\xE7\xE3o com caracteres especiais: \xE5\xE4\xF6
        \xFC\xEB\xEF \xF1\xE7 \u4E2D\u6587\",\n \"location\": \"Caf\xE9 M\xFCnchen,
        Z\xFCrich \U0001F1E8\U0001F1ED\",\n \"creator\": {\n  \"email\": \"williamjameshandley.arxiv@gmail.com\",\n
        \ \"self\": true\n },\n \"organizer\": {\n  \"email\": \"williamjameshandley.arxiv@gmail.com\",\n
        \ \"self\": true\n },\n \"start\": {\n  \"dateTime\": \"2025-08-14T10:00:00+01:00\",\n
        \ \"timeZone\": \"Europe/London\"\n },\n \"end\": {\n  \"dateTime\": \"2025-08-14T11:00:00+01:00\",\n
        \ \"timeZone\": \"Europe/London\"\n },\n \"iCalUID\": \"5thts7vu5i1fih9gjkgq5c1ebg@google.com\",\n
        \"sequence\": 0,\n \"reminders\": {\n  \"useDefault\": true\n },\n \"eventType\":
        \"default\"\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - '"3510161654253694"'
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events/5thts7vu5i1fih9gjkgq5c1ebg?alt=json
  response:
    body:
      string: "{\n  \"error\": {\n    \"code\": 401,\n    \"message\": \"Request had
        invalid authentication credentials. Expected OAuth 2 access token, login cookie
        or other valid authentication credential. See https://developers.google.com/identity/sign-in/web/devconsole-project.\",\n
        \   \"errors\": [\n      {\n        \"message\": \"Invalid Credentials\",\n
        \       \"domain\": \"global\",\n        \"reason\": \"authError\",\n        \"location\":
        \"Authorization\",\n        \"locationType\": \"header\"\n      }\n    ],\n
        \   \"status\": \"UNAUTHENTICATED\"\n  }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      WWW-Authenticate:
      - Bearer realm="https://accounts.google.com/", error="invalid_token"
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 401
      message: Unauthorized
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events/5thts7vu5i1fih9gjkgq5c1ebg
  response:
    body:
      string: "{\n  \"error\": {\n    \"code\": 401,\n    \"message\": \"Request had
        invalid authentication credentials. Expected OAuth 2 access token, login cookie
        or other valid authentication credential. See https://developers.google.com/identity/sign-in/web/devconsole-project.\",\n
        \   \"errors\": [\n      {\n        \"message\": \"Invalid Credentials\",\n
        \       \"domain\": \"global\",\n        \"reason\": \"authError\",\n        \"location\":
        \"Authorization\",\n        \"locationType\": \"header\"\n      }\n    ],\n
        \   \"status\": \"UNAUTHENTICATED\"\n  }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      WWW-Authenticate:
      - Bearer realm="https://accounts.google.com/", error="invalid_token"
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 401
      message: Unauthorized
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events/5thts7vu5i1fih9gjkgq5c1ebg
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 204
      message: No Content
version: 1
