interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://otter.ai/forward/api/v1/speeches?page_size=10
  response:
    body:
      string: '{"status": "OK", "last_load_ts": 1770985437, "end_of_list": false,
        "speeches": [{"access_request": null, "access_seconds": null, "access_status":
        1, "action_item_count": null, "agent_session": null, "allow_transcript_copy":
        true, "appid": "otter-android", "audio_enabled": true, "auto_record": false,
        "auto_snapshot_enabled": true, "block_summary_display": false, "block_transcript_display":
        false, "calendar_guests": null, "calendar_meeting_id": null, "can_comment":
        true, "can_edit": true, "can_export": true, "can_highlight": true, "chat_status":
        {"show_chat": true, "owner_chat_enabled": true, "viewer_opt_out": false, "can_edit_chat":
        true}, "conf_image_url": null, "conf_join_url": null, "create_method": "record",
        "created_at": 1771315948, "deleted": false, "displayed_start_time": 1771315948,
        "download_url": "https://api.aisense.com/audio/AOJlmcqnR1OC6ZhzTYmO2J0c5ak",
        "duration": 730, "end_time": 1771316678, "first_shared_group_name": null,
        "folder": null, "from_shared": false, "hasPhotos": 0, "has_meeting_series_access":
        false, "has_started": true, "image_urls": null, "images": [], "is_low_confidence":
        false, "is_meeting_series": false, "is_read": false, "language": "en", "link_share":
        {"scope": null, "permission": null, "workspace_id": null}, "live_status":
        "none", "live_status_message": "", "meeting_otid": null, "modified_time":
        1771316873, "non_member_shared_groups": [], "otid": "AOJlmcqnR1OC6ZhzTYmO2J0c5ak",
        "owner": {"id": 20561086, "name": "handleylab", "email": "handleylab@gmail.com",
        "first_name": "handleylab", "last_name": "", "avatar_url": "https://profile.otter.ai/AJZXS7M4DBVLK2JN/AJZXS7M4DBVLLOQS",
        "workspace": {"id": 2851628, "name": "handleylab"}}, "permissions": {"highlight":
        {"create": true, "delete": true}, "comment": {"create": true, "delete": true},
        "text_note": {"create": true, "delete": true}, "chat": {"create": true, "delete":
        true}, "speech_share": {"share": true, "share_button": true}, "assign": true,
        "reorder": true, "share": true, "export": true, "emoji_react": true}, "process_failed":
        false, "process_finished": true, "process_status": {"abstract_summary": "finished",
        "action_item": "finished", "speech_outline": "success"}, "public_share_url":
        null, "public_view": false, "pubsub_jwt": null, "pubsub_jwt_persistent": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoyMDU2MTA4NiwiZXhwIjoxNzczOTE0OTg0LCJpc3MiOiJhcGktcHJvZCIsImF1ZCI6IndzLXByb2QiLCJwZXJtaXNzaW9uIjoidmlldyIsInNwZWVjaF9pZCI6IjJEVFJNWkhBRTQ3VjNKQkkiLCJhY2Nlc3Nfc2Vjb25kcyI6bnVsbCwiYXBwaWQiOiJvdHRlci1hbmRyb2lkIiwiYWdlbnRfc2Vzc2lvbl9lbmFibGVkIjpmYWxzZX0.cbAxpzNINLM7yFZRX0Uf5MAYaGncSqglX0hcHrRDAts",
        "sales_call_qualified": false, "shared_by": null, "shared_emails": [], "shared_groups":
        [], "shared_with": [], "short_abstract_summary": null, "speakers": [], "speech_id":
        "2DTRMZHAE47V3JBI", "speech_metadata": {}, "speech_outline": [{"id": 10606043860,
        "text": "Weak Employment Market and Youth Unemployment", "start_offset": 14336,
        "end_offset": 1966848, "start_word_offset": 0, "end_word_offset": 347, "segments":
        [{"id": 10606043861, "text": "Unknown Speaker highlights the weak employment
        market, particularly in retail and hospitality sectors.", "start_offset":
        14336, "end_offset": 284096, "start_word_offset": 0, "end_word_offset": 47,
        "segments": null, "pipeline": "f_kaldi"}, {"id": 10606043862, "text": "Speaker
        1 discusses the impact of automation and AI on employment, noting the higher
        costs and risks associated with hiring people.", "start_offset": 286016, "end_offset":
        573440, "start_word_offset": 48, "end_word_offset": 97, "segments": null,
        "pipeline": "f_kaldi"}, {"id": 10606043863, "text": "Alan Milburn''s review
        on young people and work is mentioned, emphasizing the risk of a lost generation
        with 1 [...]
[...]
